<div class="container w-full">
    <ul class="flex justify-between border-b text-xs sm:text-md">
        <li class="-mb-px mr-1">
            <a class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t
            pb-2 pt-3 px-4 text-blue-700 font-semibold">권한조회</a>
        </li>
        <li>
            <nz-breadcrumb [nzSeparator]="null" class="inline-block pb-2 pt-3 px-4 font-semibold">
                <nz-breadcrumb-item class="text-gray-400">시스템 관리</nz-breadcrumb-item>
                <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                <nz-breadcrumb-item class="text-blue-700">권한조회</nz-breadcrumb-item>
            </nz-breadcrumb>
        </li>
    </ul>

    <div class="flex flex-col sm:flex-row py-8 px-4 bg-white h-full w-full border border-solid">
        <nz-select (ngModelChange)="changeValueForFindAlwncAuthorList($event)" [nzPlaceHolder]="'-- 선택해주세요 --'"
            [(ngModel)]="valueGroupCode" class="sm:hidden w-full px-3 mb-2">
            <nz-option *ngFor="let group of listAuthGroupAll" [nzLabel]="group?.authGroupName"
                [nzValue]="group?.groupCode">
            </nz-option>
        </nz-select>

        <div class="sm:flex-none h-108 w-full sm:w-auto px-3 md:px-4 lg:px-5 hidden sm:block">
            <div>
                <p class="bg-blue-50 m-auto border border-b-0 p-1 w-20 h-8 text-center">그룹</p>
            </div>
            <nz-list nzSize="small" class="bg-white p-4 border overflow-auto h-100">
                <nz-list-item *ngFor="let group of listAuthGroupAll">
                    <button (click)="findAlwncAuthorList($event)" value="{{ group?.groupCode }}"
                        class="hover:text-blue-500">
                        {{ group?.authGroupName }}</button>
                </nz-list-item>
            </nz-list>
        </div>

        <div class="sm:flex-grow mt-4 sm:mt-8 mb-8 px-3 md:px-4 lg:px-5 sm:h-100 w-full sm:w-50 md:w-100 max-h-110 lg:w-150 xl:w-200">
            <nz-table #tableData [nzData]="listAlwncAuthorList" [nzPageSize]="listAlwncAuthorList.length"
                class="sm:h-100 w-full" nzSize="small" [nzLoading]="loading" [nzScroll]="reponsiveTable()"
                nzOuterBordered nzFrontPagination="false" nzShowPagination="false">
                <thead>
                    <tr>
                        <th nzWidth="300px" class="bg-gray-100 text-center">메뉴명</th>
                        <th class="bg-gray-100 text-center">읽기</th>
                        <th class="bg-gray-100 text-center">등록</th>
                        <th class="bg-gray-100 text-center">수정</th>
                        <th class="bg-gray-100 text-center">삭제</th>
                        <th class="bg-gray-100 text-center">출력</th>
                        <th class="bg-gray-100 text-center">관리자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData.data">
                        <ng-container *ngIf="data.use === 'Y'" [ngSwitch]="data.idItem.length">
                            <td *ngSwitchCase="1">
                                <button (click)="findChild(data)" class="hover:text-blue-500">
                                    <ng-container *ngIf="data.icon === 'B'; else elseTemplate">
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
                                        </svg>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                    </ng-template>
                                    {{ data.menuNm }}
                                </button>
                            </td>
                            <td *ngSwitchCase="2" class="pl-7">
                                <button (click)="findChild(data)" class="hover:text-blue-500">
                                    <ng-container *ngIf="data.icon === 'B'; else elseTemplate">
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
                                        </svg>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                    </ng-template>
                                    {{ data.menuNm }}
                                </button>
                            </td>
                            <td *ngSwitchCase="3" class="pl-12">
                                <button (click)="findChild(data)" class="hover:text-blue-500">
                                    <ng-container *ngIf="data.icon === 'B'; else elseTemplate">
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
                                        </svg>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                    </ng-template>
                                    {{ data.menuNm }}
                                </button>
                            </td>
                            <td *ngSwitchCase="4" class="pl-20">
                                <button (click)="findChild(data)" class="hover:text-blue-500 hover:font-medium">{{
                                    data.menuNm }}</button>
                            </td>
                            <td *ngIf="data.idItem.length === 4">
                                <div *ngIf="data.readAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.readAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            </td>
                            <td *ngIf="data.idItem.length === 4" class="text-center">
                                <div *ngIf="data.createAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.createAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            <td *ngIf="data.idItem.length === 4" class="text-center">
                                <div *ngIf="data.updateAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.updateAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            </td>
                            <td *ngIf="data.idItem.length === 4" class="text-center">
                                <div *ngIf="data.deleteAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.deleteAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            </td>
                            <td *ngIf="data.idItem.length === 4" class="text-center">
                                <div *ngIf="data.printAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.printAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            </td>
                            <td *ngIf="data.idItem.length === 4" class="text-center">
                                <div *ngIf="data.manageAuthYn === 'Y'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-blue-500 w-4 h-4 m-auto">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" class="text-white"></path>
                                    </svg>
                                </div>
                                <div *ngIf="data.manageAuthYn === 'N'">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg" class="bg-gray-300 w-4 h-4 m-auto"></svg>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
