<div class="flex flex-nowrap flex-col w-full p-2 border border-solid border-blue-300 px-6">
    <ng-container *ngIf="dataPage?.formConsentT?.formConsent?.registSeCode === 'AB003001'">
        <div class="flex flex-row mb-6 w-full border my-2 border-solid">
            <p class=" p-4 bg-blue-100 flex-none w-40">
                제품의 사용설명서
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003005?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003005?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003005?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003005?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40">
                제품의 분해조립도
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003006?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003006?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003006?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003006?.atchmnflNm}}</a>
        </div>
    </ng-container>

    <ng-container
        *ngIf="dataPage?.formConsentT?.formConsent?.registSeCode === 'AB003001' || dataPage?.formConsentT?.formConsent?.registSeCode === 'AB003002'">
        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40 text-center">
                각 부분의 회로도<br />및 부품목록
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003007?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003007?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003007?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003007?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40 text-center">
                제품의 봉인장치<br />및 관련도면
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003008?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003008?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003008?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003008?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40 text-center">
                운영 소프트웨어
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003013?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003013?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003013?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003013?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40 text-center font-thin">
                그 밖에 형식승인기준에(따라 제출하여야 하는 서류)
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003009?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003009?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003009?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003009?.atchmnflNm}}</a>
        </div>
    </ng-container>

    <ng-container *ngIf="dataPage?.formConsentT?.formConsent?.registSeCode === 'AB003004'">
        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40">
                계량기 제작업 등록증
            </p>
            <a class="p-4" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003014?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003014?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003014?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003014?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                법인등기부등본
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003015?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003015?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003015?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003015?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                사업자등록증
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003016?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003016?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003016?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003016?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                공장등록증
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003017?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003017?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003017?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003017?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                인감증명서 또는 사용 인감계
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003018?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003018?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003018?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003018?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                기타서류
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003019?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003019?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003019?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003019?.atchmnflNm}}</a>
        </div>
    </ng-container>

    <ng-container *ngIf="dataPage?.formConsentT?.formConsent?.registSeCode === 'AB003005'">
        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                계약서
            </p>
            <a class="p-4" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003026?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003026?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003026?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003026?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class="p-4 bg-blue-100 flex-none w-40">
                제품사양서
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003027?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003027?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003027?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003027?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full border my-2 border-solid ">
            <p class=" p-4 bg-blue-100 flex-none w-40">
                기타서류
            </p>
            <a class="p-4 self-center" (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003028?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003028?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003028?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003028?.atchmnflNm}}</a>
        </div>
    </ng-container>
</div>
