<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full mb-6">
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>형식</mat-label>
                            <input [value]="dataGrainMoisture?.fmsGrainMstureMetersT?.fomNm || ''" class="text-black" matInput
                                disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>측정방식</mat-label>
                            <input [value]="dataGrainMoisture?.fmsGrainMstureMetersT?.mesureMthdCodeName || ''"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>측정범위</mat-label>
                            <input [value]="dataGrainMoisture?.fmsGrainMstureMetersT?.mesureScopeCodeName || ''"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>정밀도</mat-label>
                            <input [value]="dataGrainMoisture?.fmsGrainMstureMetersT?.prcsdgCodeName || ''" class="text-black"
                                matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-full">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>사용온도</mat-label>
                            <input [value]="'(' + (dataGrainMoisture?.fmsGrainMstureMetersT?.useTpScope || '') + ') ℃'"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full" style="margin-bottom: 18px;">
                    <div class="flex flex-wrap sm:flex-row w-full"
                        style="border: solid thin #CBD5E1; padding: 15px 10px; border-radius: .3em;">
                        <mat-label class="self-center mb-1 sm:mb-0"><span class="text-red-400">* </span>대상곡물
                        </mat-label>
                        <div class="flex flex-col sm:flex-row sm:ml-7">
                            <div class="flex flex-col ml-7 sm:ml-0 my-3 sm:my-0">
                                <label style="margin-left: 8px;"
                                    *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsRcepntAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">벼</label>
                                <label style="margin-left: 8px;"
                                    *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsRcepntAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">벼</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsRiceAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">쌀(멥쌀)</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsRiceAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">쌀(멥쌀)</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrceAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">현미</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrceAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">현미</label>
                            </div>
                            <div class="flex flex-col ml-7">
                                <label style="margin-left: 8px;"
                                    *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrerLiAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">보리(겉보리, 쌀보리)</label>
                                <label style="margin-left: 8px;"
                                    *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrerLiAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">보리(겉보리, 쌀보리)</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrerLiRiceAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">보리쌀(겉보리쌀, 쌀보리쌀)</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsBrrerLiRiceAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">보리쌀(겉보리쌀, 쌀보리쌀)</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsWheatAt === 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="true">밀</label>
                                <label *ngIf="dataGrainMoisture?.fmsGrainMstureMetersT?.trgetCrlsWheatAt !== 'Y'"
                                    nz-checkbox nzDisabled [ngModel]="false">밀</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                추가된 목록
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <nz-table class=" w-full" nzFrontPagination="false" [nzScroll]="{ x: '550px' }" nzSize="small"
                    #basicTable [nzData]="dataGrainMoisture.fmsGrainMstureMetersTList">
                    <thead>
                        <tr>
                            <th class="bg-gray-100 text-center w-1/12" scope="col" rowspan="2">No.</th>
                            <th class="bg-gray-100 text-center" scope="col">형식</th>
                            <th class="bg-gray-100 text-center" scope="col">측정방식</th>
                            <th class="bg-gray-100 text-center" scope="col">측정범위</th>
                            <th class="bg-gray-100 text-center" scope="col">정밀도</th>
                        </tr>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col">사용온도</th>
                            <th class="bg-gray-100 text-center" scope="col" colspan="3">대상곡물</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <ng-container *ngFor="let data of basicTable.data; let i=index">
                            <tr>
                                <td rowspan="2" class="1/12"><a
                                        (click)="goView(data.fmsGrainMstureMetersSn)">{{i+1}}</a></td>
                                <td>{{data.fomNm}}</td>
                                <td>{{data.mesureMthdCodeName}}</td>
                                <td>{{data.mesureScopeCodeName}}</td>
                                <td>{{data.prcsdgCodeName}}</td>
                            </tr>
                            <tr>
                                <td>{{data.useTpScope}} ℃</td>
                                <td colspan="3">
                                    <span *ngIf="data.trgetCrlsRcepntAt === 'Y'">벼</span>
                                    <span *ngIf="data.trgetCrlsRiceAt === 'Y'"> | 쌀(멥쌀)</span>
                                    <span *ngIf="data.trgetCrlsBrrceAt === 'Y'"> | 현미</span>
                                    <span *ngIf="data.trgetCrlsBrrerLiAt === 'Y'"> | 보리(겉보리, 쌀보리)</span>
                                    <span *ngIf="data.trgetCrlsBrrerLiRiceAt === 'Y'"> | 보리쌀(겉보리쌀, 쌀보리쌀)</span>
                                    <span *ngIf="data.trgetCrlsWheatAt === 'Y'"> | 밀</span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
        </div>

        <div class="grid mt-6 w-full">
            <div class="place-self-end">
                <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                    [nzSize]="'small'">닫기</button>
            </div>
        </div>
    </nz-spin>
</div>
