<div class="container w-full">
    <div class="flex flex-col flex-auto bg-white dark:bg-gray-800 min-h-full border-t">
        <div class="w-full text-left">
            <button class="mt-6 ml-4" (click)="showModalCreate()" nz-button nzType="primary">Thêm đơn xuất hàng mới</button>
        </div>
        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modelTitle" (nzOnCancel)="handleCancel()" [nzFooter]="null">
            <ng-container *nzModalContent>
                <div *ngIf="contentCreateModel">
                    <form [formGroup]="formData" (ngSubmit)="submitFormCreate()">
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Mã xuất hàng:</label>
                            <input class="col-span-8" nz-input formControlName="expId" placeholder="Nhập mã xuất hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Ngày xuất hàng:</label>
                            <nz-date-picker nzFormat="dd/MM/yyyy" nzPlaceHolder="-- Chọn ngày xuất hàng --" class="col-span-8" [(ngModel)]="expDate" [ngModelOptions]="{standalone: true}"></nz-date-picker>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Khách hàng:</label>
                            <nz-select class="col-span-8" nzPlaceHolder="-- Chọn khách hàng --" formControlName="cusId">
                                <nz-option *ngFor="let khachHang of listKhachHang" [nzValue]="khachHang.cusId" [nzLabel]="khachHang.cusName"></nz-option>
                            </nz-select>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Người dùng:</label>
                            <nz-select class="col-span-8" nzPlaceHolder="-- Chọn người dùng --" formControlName="userId">
                                <nz-option *ngFor="let nguoiDung of listNguoiDung" [nzValue]="nguoiDung.userId" [nzLabel]="nguoiDung.fullName"></nz-option>
                            </nz-select>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Thuốc:</label>
                            <nz-select class="col-span-8" nzPlaceHolder="-- Chọn thuốc --" formControlName="proId">
                                <nz-option *ngFor="let thuoc of listThuoc" [nzValue]="thuoc.proId" [nzLabel]="thuoc.proName"></nz-option>
                            </nz-select>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Số lượng thuốc:</label>
                            <input class="col-span-8" nz-input formControlName="quantity" placeholder="Nhập số lượng thuốc..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Giá bán:</label>
                            <input class="col-span-8" nz-input formControlName="expPrice" placeholder="Nhập giá bán..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Ghi chú xuất hàng:</label>
                            <textarea class="col-span-8" nz-input formControlName="expNote" placeholder="Nhập ghi chú xuất hàng..."></textarea>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <div class="col-span-4"></div>
                            <div class="col-span-8">
                                <button type="submit" nz-button nzType="primary" class="self-center">Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
        </nz-modal>
        <div class="flex flex-col max-w-full mt-6 p-4  flex-nowrap border border-solid overflow-x-auto">
            <nz-table class=" w-full" nzFrontPagination="true" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable [nzData]="tableData" [nzLoading]="spinning">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center">Mã xuất hàng</th>
                        <th class="bg-gray-100 text-center">Ngày xuất xuất hàng</th>
                        <th class="bg-gray-100 text-center">Ghi chú xuất hàng</th>
                        <th class="bg-gray-100 text-center">Tổng giá tiền</th>
                        <th class="bg-gray-100 text-center">Mã khách hàng</th>
                        <th class="bg-gray-100 text-center">Tên khách hàng</th>
                        <th class="bg-gray-100 text-center">Mã người dùng</th>
                        <th class="bg-gray-100 text-center">Mã thuốc</th>
                        <th class="bg-gray-100 text-center">Tên thuốc</th>
                        <th class="bg-gray-100 text-center">Số lượng</th>
                        <th class="bg-gray-100 text-center">Giá bán</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.expId}}</td>
                        <td>{{data.expDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{data.expNote}}</td>
                        <td>{{data.expTotal}}</td>
                        <td>{{data.cusId}}</td>
                        <td>{{data.cusName}}</td>
                        <td>{{data.userId}}</td>
                        <td>{{data.proId}}</td>
                        <td>{{data.proName}}</td>
                        <td>{{data.quantity}}</td>
                        <td>{{data.expPrice}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
