<div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
    <div class="p-4 sm:w-1/2 flex flex-col pb-0 sm:pr-0">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>시료수량</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.sploreQy"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>시료접수일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.sploreRceptDe"  disabled matInput>
        </mat-form-field>
    </div>
    <div class="p-4 sm:w-1/2 flex flex-col pt-0 sm:pt-4 sm:pl-0">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>시험 후 시료처리</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.testSploreProcessCodeName"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>시료접수담당자</mat-label>
            <input class="text-black" value="{{dataPage?.formConsentT?.formConsent?.sploreChargerNm}} ({{dataPage?.formConsentT?.formConsent?.sploreChargerDeptNm}})"  disabled matInput>
        </mat-form-field>
    </div>
</div>
