<div class="container w-full border border-solid border-blue-300 sm:p-4">
    <nz-spin [nzSpinning]="_spinner" nzTip="로딩...">
        <div class="flex flex-nowrap flex-col w-full p-2 ">
            <div class="flex flex-col pt-2 sm:pt-0 sm:flex-row w-full">
                <div class="px-4 sm:px-0  sm:p-4 sm:w-1/2 flex flex-col">
                    <div class="flex">
                        <mat-form-field *ngIf="isCreate" class="w-4/5 sm:w-3/4" appearance="outline">
                            <mat-label>형식승인번호</mat-label>
                            <mat-select [(ngModel)]="dataDetail.fomConfmSn" (selectionChange)="changeConfmSn($event)">
                                <mat-option [value]=null>=선택=</mat-option>
                                <mat-option *ngFor="let item of dataView?.fomConfmNoList" [value]="item?.fomConfmSn">
                                    {{item?.fomConfmConfmNo}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="!isCreate" class="w-4/5 sm:w-3/4" appearance="outline">
                            <mat-label>형식승인번호</mat-label>
                            <input [(ngModel)]="dataDetail.inp_fomConfmSn" class="text-black" matInput>
                        </mat-form-field>

                        <button (click)="changeCreateMode()" class="mt-4 ml-4" nz-button nzShape="circle" nzDanger>
                            <mat-icon class="icon-size-5 text-red-400" svgIcon="heroicons_outline:switch-horizontal">
                            </mat-icon>
                        </button>
                    </div>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>계량기명(종류)</mat-label>
                        <mat-select [(ngModel)]="dataDetail.mrnrSeCode" (selectionChange)="changeMeterName($event)">
                            <mat-option [value]=""> =선택= </mat-option>
                            <ng-container *ngFor="let item of processSelect?.mrnrSeCodeList">
                                <mat-option [value]="item?.bsisCode">
                                    {{item?.bsisCodeNm}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>신청수량</mat-label>
                        <input type="number" [(ngModel)]="dataDetail.reqstQy" class="text-black" matInput>
                    </mat-form-field>
                </div>
                <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                    <div
                        class="flex flex-col mt-0.5 mb-6 sm:p-4 sm:flex-row h-auto w-full sm:w-3/4  border border-solid border-gray-300 ">
                        <label><span class="text-red-400">* </span>검정구분</label>
                        <mat-radio-group [(ngModel)]="dataDetail.athrzSeCode" class="sm:ml-4 py-2 sm:py-0">
                            <mat-radio-button *ngFor="let item of processSelect?.athrzSeCodeList"
                                class="ml-5 mt-2 md:mt-0" [value]="item?.bsisCode">{{item?.bsisCodeNm}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="flex">
                        <mat-form-field class="w-3/4 sm:w-3/4" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>규격</mat-label>
                            <mat-select [(ngModel)]="dataDetail.selMrnrStd">
                                <mat-option [value]=null> =선택= </mat-option>
                                <mat-option *ngFor="let item of dataDetail?.selMrnrStdPopup; let i=index" [value]="i">
                                    {{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="dataDetail?.fomConfmSn === null || dataDetail?.fomConfmSn === 0"
                            (click)="openMeterPopup()" class="ml-4 h-10 mt-3" nz-button nzType="primary"
                            nzShape="round">직접입력</button>
                    </div>

                    <div
                        class="flex flex-nowrap h-auto mb-4 border border-solid border-gray-300 sm:mb-0  w-full sm:w-3/4">
                        <div class="flex justify-center items-center bg-blue-100">
                            <p class="p-4 w-full sm:w-30">기물번호</p>
                        </div>
                        <p class="mt-4 ml-2">{{dataDetail?.txtVesslStr}}</p>
                        <div class="flex items-center justify-end  pl-2">
                            <button (click)="openIptVesslPopup()" class="h-9 mr-2 sm:mr-0 " nz-button nzType="primary"
                                nzShape="round">기물번호입력</button>
                        </div>
                    </div>
                </div>
            </div>

            <nz-divider class="border-purple-300 sm:-mt-0.5"></nz-divider>

            <div class="px-4 sm:px-0 w-full lg:w-1/2 flex flex-col">
                <div class="flex flex-col sm:flex-row">
                    <div class="flex w-full">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>검정장소</mat-label>
                            <input *ngIf="isLive === true" class="text-black" readonly="readonly"
                                [(ngModel)]="dataDetail.athrzAreaZip" matInput>

                            <mat-select [(ngModel)]="dataDetail.athrzAreaAdres" *ngIf="isLive === false">
                                <mat-option [value]=null>=선택=</mat-option>
                                <mat-option *ngFor="let item of dataView?.entrprsBplcAdresList"
                                    [value]="item?.entrprsAdresSn">{{item?.bassAdres}}{{item?.detailAdres}}</mat-option>
                                <mat-option *ngFor="let item of dataView?.entrprsFctryAdresList"
                                    [value]="item?.entrprsAdresSn">{{item?.bassAdres}}{{item?.detailAdres}}</mat-option>
                                <mat-option *ngFor="let item of dataView?.entrprsMeterAdresList"
                                    [value]="item?.entrprsAdresSn">{{item?.bassAdres}}{{item?.detailAdres}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button (click)="changeLive()" class="mt-4 ml-4" nz-button nzShape="circle" nzDanger>
                            <mat-icon class="icon-size-5 text-red-400" svgIcon="heroicons_outline:switch-horizontal">
                            </mat-icon>
                        </button>
                    </div>

                    <div class="flex flex-shrink mb-4 sm:mb=0 justify-end">
                        <button (click)="zipCodeOpen()" *ngIf="isLive === true" class="sm:ml-4 mt-0 sm:mt-3 h-10"
                            nz-button nzType="primary" nzShape="round">주소검색</button>
                        <button (click)="clearPlace()" class="ml-4 mt-0 sm:mt-3 h-10" nz-button nzType="primary"
                            nzShape="round">원내 검정</button>
                    </div>
                </div>

                <div *ngIf="isLive === true" class="flex flex-col mt-0 sm:-mt-3 sm:flex-row w-full">
                    <div class="sm:px-0 sm:p-4 sm:w-1/2 flex flex-col">
                        <mat-form-field class="w-full pr-0 sm:pr-3" appearance="outline">
                            <input class="text-black" [(ngModel)]="dataDetail.athrzAreaBassAdres" readonly="readonly"
                                matInput>
                        </mat-form-field>
                    </div>
                    <div class="sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                        <mat-form-field class="w-full pr-0 sm:pl-3" appearance="outline">
                            <input class="text-black" [(ngModel)]="dataDetail.athrzAreaTaxAdres" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <nz-divider class="border-purple-300 sm:-mt-0.5"></nz-divider>

            <div class="flex flex-col pt-2 sm:pt-0 sm:flex-row w-full">
                <div class="px-4 sm:px-0  sm:p-4 sm:w-1/2 flex flex-col">
                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정희망일</mat-label>
                        <input matInput [(ngModel)]="dataDetail.athrzHopeDe" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <div class="w-full flex sm:w-3/4">
                        <mat-form-field class="w-3/4 pr-2" appearance="outline">
                            <mat-label>검정유효기간</mat-label>
                            <mat-select [(ngModel)]="dataDetail.athrzExpDe1">
                                <mat-option [value]=null>=선택=</mat-option>
                                <mat-option *ngFor="let item of yearSelect()" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-1/4" appearance="outline">
                            <mat-select [(ngModel)]="dataDetail.athrzExpDe2">
                                <mat-option [value]=null>=선택=</mat-option>
                                <mat-option *ngFor="let item of monthSelect()" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                    <div
                        class="flex flex-col p-2 mt-0.5 sm:p-4 sm:flex-row w-full sm:w-3/4 h-18 sm:h-14 border border-solid border-gray-300 ">
                        <label><span class="text-red-400">* </span> 계량증명업소</label>
                        <mat-radio-group [(ngModel)]="dataDetail.mesurProofBsshAt" class="sm:ml-4 py-2 sm:py-0">
                            <mat-radio-button class="ml-2" value="Y">Y</mat-radio-button>
                            <mat-radio-button class="ml-5" value="N">N</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div
                        class="flex flex-col p-2 mt-7 mb-4 sm:mb-0 sm:p-4 sm:flex-row w-full sm:w-3/4 h-18 sm:h-14 border border-solid border-gray-300 ">
                        <label>전수검사 여부</label>
                        <mat-radio-group [(ngModel)]="dataDetail.athrzAllAt" class="sm:ml-4 py-2 sm:py-0">
                            <mat-radio-button class="ml-2" value="Y">Y</mat-radio-button>
                            <mat-radio-button class="ml-5" value="N">N</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid w-full">
            <div class="place-self-end mr-4 sm:mr-14">
                <button (click)="detailReg()" class="h-10" nz-button nzType="primary" nzShape="round">저장</button>
            </div>
        </div>

        <nz-divider class="border-purple-300"></nz-divider>

        <div class="w-full mt-2 border border-solid border-blue-300 overflow-x-auto">
            <nz-table class=" w-full" nzFrontPagination="false" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable
                [nzData]="dataTable">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center" scope="row" rowspan="2">No</th>
                        <th class="bg-gray-100 text-center" scope="row">계량기명</th>
                        <th class="bg-gray-100 text-center" scope="row">형식승인번호</th>
                        <th class="bg-gray-100 text-center" scope="row">규격</th>
                        <th class="bg-gray-100 text-center" scope="row">검정구분</th>
                        <th class="bg-gray-100 text-center" scope="row">수량</th>
                        <th class="bg-gray-100 text-center" scope="row">기물번호</th>
                        <th class="bg-gray-100 text-center" scope="row" rowspan="2">수정/삭제</th>
                    </tr>
                    <tr>
                        <th class="bg-gray-100 border-t-2 border-b-0 border-blue-400 text-center" scope="row"
                            colspan="4">검정장소</th>
                        <th class="bg-gray-100 border-t-2 border-b-0 border-blue-400 text-center" scope="row">검정증명업소
                        </th>
                        <th class="bg-gray-100 border-t-2 border-b-0 border-blue-400 text-center" scope="row">검정희망일</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <ng-container *ngFor="let data of basicTable.data; let i=index">
                        <tr>
                            <td rowspan="2">{{i+1}}</td>
                            <td>{{data.mrnrSeNm}}</td>
                            <td>{{data.fomConfmConfmNo}}</td>
                            <td>{{data.stndrdNm}}</td>
                            <td>{{data.athrzSeCodeName}}</td>
                            <td>{{data.reqstQy}}</td>
                            <td>{{data.vesslNoStr}}</td>
                            <td rowspan="2">
                                <button (click)="editAuthrzDetail(data)" class="mt-2" nz-button [nzSize]="size"
                                    nzType="primary">수정</button> <br>
                                <button (click)="deleteAthrzDetail(data.athrzSn, data.athrzDetailSn)" class="mt-2"
                                    nz-button [nzSize]="size" nzType="primary">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span
                                    *ngIf="data.athrzAreaZip !== null || data.athrzAreaZip.trim() !== '' ">{{emptyPostNumber(data.athrzAreaZip)}}</span>
                                <span *ngIf="data.athrzAreaBassAdres !== null">
                                    {{data.athrzAreaBassAdres}} {{data.athrzAreaTaxAdres}}
                                </span>
                            </td>
                            <td>{{data.mesurProofBsshAt}}</td>
                            <td>{{data.athrzHopeDe}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </nz-spin>
</div>
