<div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
    <div class="p-4 sm:w-1/2 flex flex-col lg:pr-0 pb-0">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>승인번호</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmConfmNo"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>완료일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.lastConfmDe"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>접수번호</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmRceptNo"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>신청일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rqstDt | date: 'yyyy-MM-dd'"  disabled matInput>
        </mat-form-field>
    </div>
    <div class="p-4 sm:w-1/2 pt-0 sm:pt-4 flex flex-col lg:pl-0 pl-4">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>구분</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.registSeName"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>처리상태</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmProcessSttusName"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>접수일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rceptDe | date: 'yyyy-MM-dd'" disabled matInput>
        </mat-form-field>
    </div>
</div>
