<div class="container w-full">
    <ul class="flex justify-between border-b text-xs sm:text-md">
        <li class="-mb-px mr-1">
            <a
                class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t pt-3 pb-2 px-4 text-blue-700 font-semibold">인쇄프로그램
                인증관리</a>
        </li>
        <li>
            <nz-breadcrumb [nzSeparator]="null"
                class="inline-block pt-3 pb-2 px-4 font-semibold">
                <nz-breadcrumb-item class="text-gray-400">QR코드 관리</nz-breadcrumb-item>
                <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                <nz-breadcrumb-item class="text-blue-700">인쇄프로그램 인증관리​</nz-breadcrumb-item>
            </nz-breadcrumb>
        </li>
    </ul>

    <div class="flex flex-col flex-auto bg-white  dark:bg-gray-800 min-h-full">
        <div class="flex flex-nowrap sm:flex-wrap flex-col  dark:bg-gray-900 sm:flex-row border border-solid py-5">
            <div class="flex flex-col lg:flex-row w-full">
                <div class="flex flex-grow justify-center">
                    <h1 class="p-2 w-28 self-center">검정지사</h1>
                    <div class="p-2">
                        <nz-select [(ngModel)]="searchData.ktcBrffcCode" class="w-56">
                            <nz-option nzValue='' nzLabel=""></nz-option>
                            <nz-option *ngFor="let item of selectItem?.ktcBrffcCodeList" [nzValue]="item?.bsisCode"
                                [nzLabel]="item?.bsisCodeNm"></nz-option>
                        </nz-select>
                    </div>
                </div>

                <div class="flex flex-grow justify-center">
                    <h1 class=" p-2 w-28 self-center">승인여부</h1>
                    <div class="p-2">
                        <nz-select [(ngModel)]="searchData.athrzChargerID" class="w-56">
                            <nz-option nzValue='' nzLabel=""></nz-option>
                            <nz-option *ngFor="let item of selectItem?.athrzChargerList" [nzValue]="item?.userId"
                                nzLabel="[{{item?.deptNm}}]{{item?.userNm}}"></nz-option>
                        </nz-select>
                    </div>
                </div>

                <div class="flex flex-grow justify-center">
                    <h1 class="p-2 w-28 self-center">승인여부</h1>
                    <div class="p-2">
                        <nz-select [(ngModel)]="searchData.approveValue" class="w-56">
                            <nz-option nzValue='' nzLabel=""></nz-option>
                            <nz-option nzValue='Y' nzLabel="Y"></nz-option>
                            <nz-option nzValue='N' nzLabel="N"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div class="text-right w-full pr-5 mt-3">
                <button (click)="search()" class="w-20" nz-button nzType="primary"><i nz-icon
                        nzType="search"></i>검색</button>
            </div>
        </div>

        <div class="flex flex-col max-w-full mt-6 p-4  flex-nowrap border border-solid overflow-x-auto">
            <nz-table class=" w-full" nzFrontPagination="true" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable
                [nzData]="tableData" [nzLoading]="loadingTable" class="justify-center">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center w-20">No.</th>
                        <th class="bg-gray-100 text-center">검정지사</th>
                        <th class="bg-gray-100 text-center">담당자명</th>
                        <th class="bg-gray-100 text-center">인증PC정보</th>
                        <th class="bg-gray-100 text-center">승인일자</th>
                        <th class="bg-gray-100 text-center">승인여부</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let data of basicTable.data; index as i">
                        <td>{{i+1}}</td>
                        <td><a (click)="showEdit(data,'update')" class="cursor-pointer">{{data.ktcBrffcCodeName}}</a>
                        </td>
                        <td><a (click)="showEdit(data,'update')" class="cursor-pointer">{{data.athrzChargerName}}</a>
                        </td>
                        <td>{{data.qrPrintpcMac}}</td>
                        <td>{{data.approveDate | date: "yyyy/MM/dd"}}</td>
                        <td><a (click)="showEdit(data,'update')" class="cursor-pointer">{{data.approveValue}}</a></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <div class="pb-3 pt-3 pr-5 w-full grid">
            <button (click)="insertData()" class="place-self-end w-20" nz-button nzType="primary"><i
                    nz-icon nzType="search"></i>등록</button>
        </div>
    </div>
</div>
