<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap  w-full">
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-col">
                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label>형식명</mat-label>
                        <input [(ngModel)]="dataWeightPopup.iptWeightT.fomNm" class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>등급</mat-label>
                        <mat-select [(ngModel)]="dataWeightPopup.iptWeightT.gradCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWeightPopup.gradCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label ><span class="text-red-400">* </span>구성</mat-label>
                        <mat-select [(ngModel)]="dataWeightPopup.iptWeightT.tyCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWeightPopup.tyCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="dataWeightPopup.iptWeightT.tyCode === 'AA108001'" class="flex flex-col flex-nowrap mt-4 w-full p-2 border border-solid border-blue-300">
                <p class="text-blue-600 mb-3">
                    <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>
                    낱개 구성
                </p>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>공칭 값</mat-label>
                        <input type="number" [(ngModel)]="dataWeightPopup.iptWeightT.pceGngchVal" class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select [(ngModel)]="dataWeightPopup.iptWeightT.pceGngchValUnitCode" >
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="dataWeightPopup.iptWeightT.tyCode === 'AA108002'" class="flex flex-col flex-nowrap mt-4 w-full p-2 border border-solid border-blue-300">
                <p class="text-blue-600 mb-3">
                    <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>
                    셋트 구성
                </p>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>공칭 값(최소)</mat-label>
                        <input type="number" [(ngModel)]="dataWeightPopup.iptWeightT.setGngchMummVal"  class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select [(ngModel)]="dataWeightPopup.iptWeightT.setGngchMummValUnitCd" >
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>공칭 값(최대)</mat-label>
                        <input type="number"  [(ngModel)]="dataWeightPopup.iptWeightT.setGngchMxmmVal"  class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select  [(ngModel)]="dataWeightPopup.iptWeightT.setGngchMxmmValUnitCd" >
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="saveDetail()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">저장</button>
                    <button (click)="close()"  class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
