<div class="container w-full">
    <nz-spin [nzSpinning]="isSpinning" nzTip="로딩...">
        <ul class="flex justify-between border-b text-xs sm:text-md">
            <li class="-mb-px mr-1">
                <a class="bg-white dark:bg-gray-900 inline-block border-l
                    border-t border-r rounded-t pb-2 pt-3 px-4 text-blue-700
                    font-semibold">전체현황</a>
            </li>
            <li>
                <nz-breadcrumb [nzSeparator]="null" class="inline-block pt-3
                    pb-2 px-4 font-semibold">
                    <nz-breadcrumb-item class="text-gray-400">형식승인 정보조회</nz-breadcrumb-item>
                    <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                    <nz-breadcrumb-item class="text-gray-400">완료내역</nz-breadcrumb-item>
                    <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                    <nz-breadcrumb-item class="text-blue-700">전체현황</nz-breadcrumb-item>
                </nz-breadcrumb>
            </li>
        </ul>

        <div class="flex flex-col flex-nowrap flex-auto bg-white
            dark:bg-gray-800 min-h-full w-full border-t">
            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full mt-2">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>형식승인 완료내역
                </p>
                <approval-history [dataPage]="dataMain" class="pt-2"></approval-history>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>업체 정보
                </p>
                <enterprise-view [dataPage]="dataMain" class="pt-2"></enterprise-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>계량기 정보
                </p>
                <gauge-view [dataPage]="dataMain" class="pt-2"></gauge-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>기타
                </p>
                <etc-view [dataPage]="dataMain" class="pt-2"></etc-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>구비서류
                </p>
                <consent-docview [dataPage]="dataMain" class="pt-2"></consent-docview>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>시료정보
                </p>
                <sample-view [dataPage]="dataMain" class="pt-2"></sample-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>시험결과 정보
                </p>
                <test-result-view [dataPage]="dataMain" class="pt-2"></test-result-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>형식승인 기술기준 및 고시번호
                </p>
                <law-view [dataPage]="dataMain" class="pt-2"></law-view>
            </div>

            <div *ngIf="dataMain?.formConsentT?.formConsent?.registSeCode ===
                'AB003002' || dataMain?.formConsentT?.formConsent?.registSeCode
                === 'AB003004'" class="flex flex-col flex-nowrap p-2 md:p-4
                w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>재발급 신청 정보
                </p>
                <change-info-view [dataPage]="dataMain" class="pt-2"></change-info-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>재발급 신청 정보
                </p>
                <reissue-view [dataPage]="dataMain" class="pt-2"></reissue-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>형식승인서 발급정보
                </p>
                <issue-info [dataPage]="dataMain" class="pt-2"></issue-info>
            </div>

            <div class="grid w-full">
                <div class="flex place-self-end">
                    <div class="mt-2 mr-6 sm:mr-14">
                        <button routerLink="/KTC/FormConsent/FormConsentComplete/status" mat-raised-button color="primary">목록</button>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>형식승인 이력 정보
                </p>
                <frm-history-info-view [dataPage]="dataMain" class="pt-2"></frm-history-info-view>
            </div>
        </div>
    </nz-spin>
</div>