<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>탱크 재질</mat-label>
                        <input [value]="dataGrarulerTanVolLol?.tnkMtrqltNm || ''" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>용량</mat-label>
                        <input [value]="(dataGrarulerTanVolLol?.cpctyVal || '') + ' L'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>용량 구간</mat-label>
                        <input [value]="(dataGrarulerTanVolLol?.cpctyDetail || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="grid mt-6 w-full">
            <div class="place-self-end">
                <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                    [nzSize]="'small'">닫기</button>
            </div>
        </div>
    </nz-spin>
</div>
