<div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
    <div class=" p-4 sm:w-1/2 flex flex-col">
       <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label><span class="text-red-400">* </span>접수자</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rceptChargerNm"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label><span class="text-red-400">* </span>접수승인자</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rceptConfmerNm"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label><span class="text-red-400">* </span>형식승인담당자</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmChargerNm"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label><span class="text-red-400">* </span>형식승인책임자</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmRspnberNm"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>처리기간 </mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.proprod"  matInput>
            <span matSuffix>일</span>
        </mat-form-field>
    </div>
    <div class=" p-4 sm:w-1/2 flex flex-col">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>접수일자</mat-label>
            <input matInput [(ngModel)]="rcepde" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>접수승인일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rceptConfmDt | date: 'yyyy-MM-dd'"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>담당자 전화번호</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmChargerTelno"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>승인서발행 예정일자</mat-label>
            <input matInput [(ngModel)]="ceratsPblictePrarnDe" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</div>
