<div class="container w-full">
    <ul class="flex justify-between border-b text-xs sm:text-md">
        <li class="-mb-px mr-1">
            <a class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t pt-3 pb-2 px-4 text-blue-700 font-semibold">Quản
                lý khách hàng</a>
        </li>
    </ul>

    <div class="flex flex-col flex-auto bg-white dark:bg-gray-800 min-h-full border-t">
        <div class="w-full text-left">
            <button class="mt-6 ml-4" (click)="showModalCreate()" nz-button nzType="primary">Thêm khách hàng mới</button>
        </div>
        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modelTitle" (nzOnCancel)="handleCancel()" [nzFooter]="null">
            <ng-container *nzModalContent>
                <div *ngIf="contentCreateModel">
                    <form [formGroup]="formData" (ngSubmit)="submitFormCreate()">
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Mã khách hàng:</label>
                            <input class="col-span-8" nz-input formControlName="cusId" placeholder="Nhập mã khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Họ và tên:</label>
                            <input class="col-span-8" nz-input formControlName="cusName" placeholder="Nhập họ và tên khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Email:</label>
                            <input class="col-span-8" nz-input formControlName="cusEmail" placeholder="Nhập email khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Số điện thoại:</label>
                            <input class="col-span-8" nz-input formControlName="cusPhone" placeholder="Nhập số điện thoại khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Địa chỉ:</label>
                            <input class="col-span-8" nz-input formControlName="cusAddress" placeholder="Nhập địa chỉ khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Giấy phép khách hàng:</label>
                            <input class="col-span-8" nz-input formControlName="cusLicense" placeholder="Nhập giấy phép khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <div class="col-span-4"></div>
                            <div class="col-span-8">
                                <button type="submit" nz-button nzType="primary" class="self-center">Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="!contentCreateModel">
                    <form [formGroup]="formData" (ngSubmit)="submitFormUpdate()">
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Mã khách hàng:</label>
                            <input class="col-span-8" nz-input formControlName="cusId" placeholder="Nhập mã khách hàng..." readonly/>
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Họ và tên:</label>
                            <input class="col-span-8" nz-input formControlName="cusName" placeholder="Nhập họ và tên khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Email:</label>
                            <input class="col-span-8" nz-input formControlName="cusEmail" placeholder="Nhập email khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Số điện thoại:</label>
                            <input class="col-span-8" nz-input formControlName="cusPhone" placeholder="Nhập số điện thoại khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Địa chỉ:</label>
                            <input class="col-span-8" nz-input formControlName="cusAddress" placeholder="Nhập địa chỉ khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <label class="col-span-4 self-center">Giấy phép khách hàng:</label>
                            <input class="col-span-8" nz-input formControlName="cusLicense" placeholder="Nhập giấy phép khách hàng..." />
                        </div>
                        <div class="grid grid-cols-12 mb-2">
                            <div class="col-span-4"></div>
                            <div class="col-span-8">
                                <button type="submit" nz-button nzType="primary" class="self-center">Sửa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
        </nz-modal>
        <div class="flex flex-col max-w-full mt-6 p-4  flex-nowrap border border-solid overflow-x-auto">
            <nz-table class=" w-full" nzFrontPagination="true" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable [nzData]="tableData" [nzLoading]="spinning">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center">Mã khách hàng</th>
                        <th class="bg-gray-100 text-center">Họ và tên</th>
                        <th class="bg-gray-100 text-center">Email</th>
                        <th class="bg-gray-100 text-center">Số điện thoại</th>
                        <th class="bg-gray-100 text-center">Địa chỉ</th>
                        <th class="bg-gray-100 text-center">Giấy phép khách hàng</th>
                        <th class="bg-gray-100 text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.cusId}}</td>
                        <td>{{data.cusName}}</td>
                        <td>{{data.cusEmail}}</td>
                        <td>{{data.cusPhone}}</td>
                        <td>{{data.cusAddress}}</td>
                        <td>{{data.cusLicense}}</td>
                        <td>
                            <button (click)="showModalUpdate(data)" nz-button nzType="default" nzWarning>Sửa</button>
                            <button (click)="deleteCustomer(data.cusId)" nz-button nzType="primary" nzDanger class="ml-2">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>