<ng-container *ngFor="let item of dataPage?.inspectionDetailTList">
    <div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
        <div class="sm:p-4 pb-0 pl-4 pt-4 pr-4 sm:w-1/2 flex flex-col">
            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>계량기명</mat-label>
                <input class="text-black" [value]="item?.mrnrSeNm"  disabled matInput>
            </mat-form-field>

            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>규격</mat-label>
                <input class="text-black" [value]="item?.stndrdNm" disabled matInput>
            </mat-form-field>

            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>검정완료일</mat-label>
                <input class="text-black"  [value]="item?.athrzEndDe" disabled matInput>
            </mat-form-field>

            <div class="rounded-md flex flex-nowrap h-auto mb-4 border border-solid border-gray-300 md:mb-0 w-full md:w-3/4">
                <div class="flex">
                    <p class="p-4 w-full text-gray-400">검정신청서</p>
                </div>
            </div>

            <mat-form-field class="w-full md:w-3/4 sm:mt-1 md:mt-5" appearance="outline">
                <mat-label>수량</mat-label>
                <input class="text-black" [value]="item?.reqstQy"  disabled matInput>
            </mat-form-field>
        </div>
        <div class="sm:p-4 pt-0 pr-4 pl-4 pb-4  sm:w-1/2 flex flex-col">
            <div class="flex flex-col w-full sm:flex-row mb-2 sm:mb-0">
                <mat-form-field class="w-full sm:w-3/4"  appearance="outline">
                    <mat-label>형식승인번호</mat-label>
                    <input class="text-black"  [value]="item?.fomConfmConfmNo"  disabled matInput>
                </mat-form-field>
                <button (click)="routerComplete(item?.fomConfmSn)" class="ml-0 sm:ml-2 w-33 h-10 self-end -mt-4  sm:self-center" nz-button nzType="primary" nzShape="round">형승인정보보기</button>
            </div>

            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>검정구분</mat-label>
                <input class="text-black" [value]="item?.athrzSeCodeName"   disabled matInput>
            </mat-form-field>

            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>검정기관</mat-label>
                <input class="text-black" value="한국기계전기전자시험연구원"   disabled matInput>
            </mat-form-field>

            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>검정유효기간</mat-label>
                <input class="text-black" [value]="athrzExpDetail(item)"  disabled matInput>
            </mat-form-field>

            <div class="flex flex-nowrap h-auto mb-4 border border-solid border-gray-300 sm:mb-0 w-full md:w-3/4">
                <div class="flex w-full">
                    <p class="p-4 w-1/5 bg-blue-100 text-center">결과</p>
                    <p class="p-4 w-1/5 text-center">합격</p>
                    <p class="p-4 w-1/5 bg-blue-100 font-bold text-center">{{item?.psexamQy}}개</p>
                    <p class="p-4 w-1/5 text-center">합격</p>
                    <p class="p-4 w-1/5 bg-blue-100 font-bold text-center">{{item?.dsqlfcQy}}개</p>
                </div>
            </div>
        </div>
    </div>

    <nz-divider class="border-purple-300"></nz-divider>
    <div class="grid place-items-center	 grid-cols-1 gap-4">
        <div class="w-full p-4 grid justify-items-stretch border border-solid border-blue-300"><p class="justify-self-center">합격기물번호</p></div>
        <div class="w-full flex justify-around border-solid border-blue-300">
            <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p>
        </div>
    </div>
    <div class="grid place-items-center mt-2 grid-cols-1 gap-4">
        <div class="w-full p-4 grid justify-items-stretch border border-solid border-blue-300"><p class="justify-self-center">불합격 기물번호</p></div>
        <div class="w-full flex justify-around border-solid border-blue-300">
            <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p> <p> - </p>
        </div>
    </div>
    <nz-divider class="border-blue-300 border-2"></nz-divider>
</ng-container>


