<div class="container w-full border border-solid border-blue-300 sm:p-4">
    <div class="flex flex-nowrap flex-col w-full p-2 ">
        <div class="flex flex-col pt-2 sm:pt-0 sm:flex-row w-full">
            <div class="pb-0 sm:pb-4 p-4 pl-4 sm:pl-0 lg:pr-0 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>상호</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.entrprsNm" disabled
                        matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>대표자명</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.rprsntvNm" disabled
                        matInput>
                </mat-form-field>
            </div>
            <div class="pt-0 sm:pt-4 p-4 sm:pr-0 pr-4 md:pl-0 pl-4 lg:pr-0 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>업체구분</mat-label>
                    <input class="text-black" [value]="dataPage?.enterpriseSectionName" disabled matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>사업자등록번호</mat-label>
                    <input class="text-black" [value]="bizrnoStr(dataPage?.formConsentT?.formConsent?.bizrno)" disabled
                        matInput>
                </mat-form-field>
            </div>
        </div>

        <nz-divider class="border-purple-300 -mt-0.5"></nz-divider>

        <div class="p-4 pl-4 sm:pl-0 pb-0 pr-4 lg:pr-0 sm:w-1/2 flex flex-col">
            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>사업장 주소</mat-label>
                <input class="text-black"
                    [value]="bplcDetail(dataPage?.formConsentT?.formConsent?.bplcZip, dataPage?.formConsentT?.formConsent?.bplcBassAdres, dataPage?.formConsentT?.formConsent?.bplcDetailAdres)"
                    disabled matInput>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row w-full">
            <div class="pr-4 sm:pl-0 sm:pr-4 pb-0 md:pb-4 p-4 pt-0 sm:w-1/2 flex flex-col pl-4 md:pl-0 md:pr-0">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>사업장 전화번호</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.bplcTelno" disabled
                        matInput>
                </mat-form-field>
            </div>
            <div class="p-4 pt-0 sm:w-1/2 sm:pr-0 md:pl-0 pl-4 flex flex-col pr-4 md:pr-0">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>사업장 팩스번호 </mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.bplcFxnum" disabled
                        matInput>
                </mat-form-field>
            </div>
        </div>

        <nz-divider class="border-purple-300 -mt-0.5"></nz-divider>

        <div class="p-4 pl-4 sm:pl-0 pb-0 pr-4 lg:pr-0 sm:w-1/2 flex flex-col">
            <mat-form-field class="w-full md:w-3/4" appearance="outline">
                <mat-label>공장 주소</mat-label>
                <input class="text-black"
                    [value]="bplcDetail(dataPage?.formConsentT?.formConsent?.fctryZip, dataPage?.formConsentT?.formConsent?.fctryBassAdres, dataPage?.formConsentT?.formConsent?.fctryDetailAdres)"
                    disabled matInput>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row w-full">
            <div class="pr-4 md:pr-0 sm:pr-4 pb-0 sm:pb-4 p-4 pt-0 sm:w-1/2 flex flex-col pl-4 sm:pl-0">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>공장 전화번호</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fctryTelno" disabled
                        matInput>
                </mat-form-field>
            </div>
            <div class="md:pl-0 sm:pl-4 p-4 pt-0 sm:w-1/2 pl-4 flex flex-col pr-4 sm:pr-0">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>공장 팩스번호 </mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fctryFxnum" disabled
                        matInput>
                </mat-form-field>
            </div>
        </div>

        <nz-divider class="border-purple-300 -mt-0.5"></nz-divider>

        <div class="flex flex-col pt-2 sm:pt-0 sm:flex-row w-full sm:pr-0 pr-0">
            <div class="md:pr-0 pl-4 sm:pl-0 pb-0 sm:pb-4 p-4 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>담당자명</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.applcntNm" disabled
                        matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>휴대폰</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.applcntMbtlnum" disabled
                        matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>
                        제작업 등록 종류 및 범위 (수입 시는 제외)</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.mnfctRegistKndCn" disabled
                        matInput>
                </mat-form-field>
            </div>
            <div class="md:pl-0 sm:pl-4 pl-4 pr-4 sm:pr-0 pt-0 sm:pt-4 p-4 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>전화번호</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.applcntMbtlnum" disabled
                        matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>이메일</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.applcntEmailAdres" disabled
                        matInput>
                </mat-form-field>
                <mat-form-field class="w-full md:w-3/4" appearance="outline">
                    <mat-label>제작업 등록 연월일 (수입 시는 제외)</mat-label>
                    <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.mnfcturRegistDe" disabled
                        matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
