<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                기본정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-col sm:flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>형식</mat-label>
                        <input [value]="dataPlatform?.fmsPlfrmSclT?.fomNm || ''" class="text-black" disabled matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                추가정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정확도등급</mat-label>
                        <input [value]="dataPlatform?.fmsPlfrmSclDetailT?.accrcyGradCodeName || ''" class="text-black" disabled matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대용량</mat-label>
                        <input [value]="(dataPlatform?.fmsPlfrmSclDetailT?.mxmmCpctyVal  || '') + ' ' +
                            (dataPlatform?.fmsPlfrmSclDetailT?.mxCpctyValUnitCodeName || '')" disabled class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소용량</mat-label>
                        <input [value]="(dataPlatform?.fmsPlfrmSclDetailT?.mummCpctyVal || '') + ' ' +
                            (dataPlatform?.fmsPlfrmSclDetailT?.mummCpctyValUnitCdName || '')" disabled class="text-black" matInput>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금</mat-label>
                        <input [value]="(dataPlatform?.fmsPlfrmSclDetailT?.athrzDivisionVal || '') + ' ' +
                            (dataPlatform?.fmsPlfrmSclDetailT?.athrzDvsnValUnitCdName || '')" disabled class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label>실제눈금</mat-label>
                        <input [value]="(dataPlatform?.fmsPlfrmSclDetailT?.realDivisionVal || '') + ' ' +
                            (dataPlatform?.fmsPlfrmSclDetailT?.realDvsnValUnitCdName || '')" disabled class="text-black" matInput>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금수</mat-label>
                        <input [value]="dataPlatform?.fmsPlfrmSclDetailT?.athrzDivisionCo || ''" disabled class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>사용온도범위</mat-label>
                        <input [value]="'(' + (dataPlatform?.fmsPlfrmSclDetailT?.useTpScope || '') + ') ℃'" disabled class="text-black" matInput>
                    </mat-form-field>
                </div>

            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                추가된 목록
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <nz-table class=" w-full" nzFrontPagination="false" [nzScroll]="{ x: '550px' }" nzSize="small" #basicTable [nzData]="dataPlatform.fmsPlfrmSclDetailListT">
                    <thead>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col" rowspan="2">No.</th>
                            <th class="bg-gray-100 text-center" scope="col">정확도등급</th>
                            <th class="bg-gray-100 text-center" scope="col">최대용량</th>
                            <th class="bg-gray-100 text-center" scope="col">최소용량</th>
                            <th class="bg-gray-100 text-center" scope="col"></th>
                        </tr>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금</th>
                            <th class="bg-gray-100 text-center" scope="col">실제눈금</th>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금수</th>
                            <th class="bg-gray-100 text-center" scope="col">사용온도범위</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <ng-container *ngFor="let data of basicTable.data; let i=index">
                            <tr>
                                <td rowspan="2"><a (click)="goView(data?.fomConfmDetailSn)">{{i+1}}</a></td>
                                <td>{{data.accrcyGradCodeName}}</td>
                                <td>{{data.mxmmCpctyVal}}{{data.mxCpctyValUnitCodeName}}</td>
                                <td>{{data.mummCpctyVal}}{{data.mummCpctyValUnitCdName}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{data.athrzDivisionVal}}{{data.athrzDvsnValUnitCdName}}</td>
                                <td>{{data.realDivisionVal}}{{data.realDvsnValUnitCdName}}</td>
                                <td>{{data.athrzDivisionCo}}</td>
                                <td>({{data.useTpScope}}) ℃</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>