<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>형식</mat-label>
                        <input [value]="dataSphygMon?.fomCodeName || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>압력표시</mat-label>
                        <input [value]="dataSphygMon?.pressrIndictCodeName || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>혈압치 결정방식</mat-label>
                        <input [value]="dataSphygMon?.brssrSeCodeName || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>전원</mat-label>
                        <input [value]="dataSphygMon?.srcelctCodeName || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>모델명</mat-label>
                        <input [value]="dataSphygMon?.modelNm || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label>측정부위</mat-label>
                        <input [value]="dataSphygMon?.mesureRegnCodeName || ''" class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>사용압력 범위</mat-label>
                        <input [value]="'(' + (dataSphygMon?.usePressrScopeBeginVal || '') + ' ~ ' +
                        (dataSphygMon?.usePressrScopeEndVal || '') + ') mmHg'" class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="grid mt-6 w-full">
            <div class="place-self-end">
                <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
            </div>
        </div>
    </nz-spin>
</div>
