<div class="container w-full border border-solid border-blue-300 sm:p-4">
    <div class="flex flex-nowrap flex-col w-full p-2 ">
        <div class="flex flex-col pt-2 sm:pt-0 sm:flex-row w-full">
            <div class="px-4 sm:px-0  sm:p-4 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>신청일</mat-label>
                    <input class="text-black" disabled matInput [value]="dataDetail?.entrpsNm">
                </mat-form-field>
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>신청일</mat-label>
                    <input class="text-black" disabled matInput [value]="dataDetail?.rprsntvNm">
                </mat-form-field>
            </div>
            <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>구분</mat-label>
                    <input class="text-black" [value]="dataDetail?.entrpsSeNm" disabled matInput>
                </mat-form-field>
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>구분</mat-label>
                    <input class="text-black" [value]="bizrnoView(dataDetail?.bizrno)" disabled matInput>
                </mat-form-field>
            </div>
        </div>

        <nz-divider class="border-purple-300 -mt-0.5"></nz-divider>

        <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
            <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                <mat-label>구분</mat-label>
                <input class="text-black" [value]="busiAddView()" disabled matInput>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row w-full">
            <div class="px-4 sm:px-0  sm:p-4 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>신청일</mat-label>
                    <input class="text-black" [value]="dataDetail?.bplcTelno" disabled matInput>
                </mat-form-field>
            </div>
            <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>구분</mat-label>
                    <input class="text-black" [value]="dataDetail?.bplcFxnum" disabled matInput>
                </mat-form-field>
            </div>
        </div>

        <nz-divider class="border-purple-300 -mt-0.5"></nz-divider>

        <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
            <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                <mat-label>구분</mat-label>
                <input class="text-black" [value]="fcTryAddView()" disabled matInput>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row w-full">
            <div class="px-4 sm:px-0  sm:p-4 sm:w-1/2 flex flex-col">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>신청일</mat-label>
                    <input class="text-black" [value]="dataDetail?.fctryTelno" disabled matInput>
                </mat-form-field>
            </div>
            <div class="px-4 sm:px-0 sm:p-4 sm:w-1/2 flex flex-col ">
                <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                    <mat-label>구분</mat-label>
                    <input class="text-black" [value]="dataDetail?.fctryFxnum" disabled matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
