<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                규격 및 형식 (오일미터)
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>형식</mat-label>
                            <input [value]="dataOilmeter?.fmsOilmeterT?.fomCodeName || ''" class="text-black" matInput
                                disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>제조사</mat-label>
                            <input [value]="dataOilmeter?.fmsOilmeterT?.makrNm || ''" class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>최대유량</mat-label>
                            <input [value]="(dataOilmeter?.fmsOilmeterT?.mxmmFluxVal || '') + ' ' +
                            (dataOilmeter?.fmsOilmeterT?.mxmmFluxValUnitCodeName || '')" class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>최소유량</mat-label>
                            <input [value]="(dataOilmeter?.fmsOilmeterT?.mummFluxVal || '') + ' ' +
                            (dataOilmeter?.fmsOilmeterT?.mummFluxUnitCodeName || '')" class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>구조</mat-label>
                            <input [value]="dataOilmeter?.fmsOilmeterT?.strctCodeName || ''" class="text-black" matInput
                                disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>최대사용 압력</mat-label>
                            <input [value]="(dataOilmeter?.fmsOilmeterT?.mxmmUsePressrVal || '') + ' MPa'" class="text-black"
                                matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>호칭지름</mat-label>
                            <input [value]="(dataOilmeter?.fmsOilmeterT?.cirDmVal || '') + ' mm'" class="text-black" matInput
                                disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>최소측정량</mat-label>
                            <input [value]="(dataOilmeter?.fmsOilmeterT?.mummMesureQyVal || '') + ' L'" class="text-black"
                                matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>사용점도 범위</mat-label>
                            <input [value]="'(' + (dataOilmeter?.fmsOilmeterT?.useVstyScope || '') + ')' + ' mPa·s'"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>사용온도 범위</mat-label>
                            <input [value]="'(' + (dataOilmeter?.fmsOilmeterT?.useTpScope || '') + ')' + ' ℃'"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-full pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>환경조건</mat-label>
                            <input [value]="dataOilmeter?.fmsOilmeterT?.envrnCndCodeName || ''" class="text-black" matInput
                                disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="w-full pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>모델명</mat-label>
                            <input [value]="dataOilmeter?.fmsOilmeterT?.modelNm || ''" class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid mt-6 w-full">
            <div class="place-self-end">
                <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                    [nzSize]="'small'">닫기</button>
            </div>
        </div>
    </nz-spin>
</div>
