<div class="w-full h-full bg-white flex p-4">
    <div class="text-center m-auto self-center overflow-x-auto">
        <div class="flex flex-row justify-center">
            <div class="rounded-full mx-1 h-26 w-26 md:mx-3 md:h-36 md:w-36 flex items-center justify-center" style="background-color: #2F9BFF;">
                <div class=""><span class="text-8xl text-white">4</span></div>
            </div>
            <div class="rounded-full mx-1 h-26 w-26 md:mx-3 md:h-36 md:w-36 flex items-center justify-center" style="background-color: #2F9BFF;">
                <div class=""><span class="text-8xl text-white">0</span></div>
            </div>
            <div class="rounded-full mx-1 h-26 w-26 md:mx-3 md:h-36 md:w-36 flex items-center justify-center" style="background-color: #2F9BFF;">
                <div class=""><span class="text-8xl text-white">4</span></div>
            </div>
        </div>
        <h2 class="my-6 font-bold text-3xl md:text-5xl text-gray-500">죄송합니다! 요청하신 페이지를 찾을 수 없습니다.</h2>
        <button (click)="GoBack()" class="text-center text-2xl md:text-3xl font-bold h-10 w-18 md:w-22 md:h-12" nz-button nzType="primary">반품</button>
    </div>
</div>
