<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                기본정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-col sm:flex-row">
                    <mat-form-field class="w-full sm:w-3/4"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>저울종류</mat-label>
                        <mat-select [(ngModel)]="_scSecode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectScSeCode" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="flex p-1 sm:p-2 justify-end ">
                        <button (click)="saveSecode()" class="h-10 w-20 ml-2 -mt-3 sm:-mt-0 mb-1" nz-button nzType="defaulty" [nzSize]="'small'">형식저장</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                추가정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-full sm:w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>형식</mat-label>
                        <input [(ngModel)]="this.dataPage.fomNm" class="text-black" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full sm:w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정확도등급</mat-label>
                        <mat-select [(ngModel)]="this.dataPage.accrcyGradCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectAccrcyGrad" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대용량</mat-label>
                        <input type="number" [(ngModel)]="this.dataPage.mxmmCpctyVal" class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select [(ngModel)]="this.dataPage.mxCpctyValUnitCode" >
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소용량</mat-label>
                        <input type="number" [(ngModel)]="this.dataPage.mummCpctyVal" class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select [(ngModel)]="this.dataPage.mummCpctyValUnitCd">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금</mat-label>
                        <input type="number" [(ngModel)]="this.dataPage.athrzDivisionVal" class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-2/5 pl-1 sm:pl-2"  appearance="outline">
                        <mat-select [(ngModel)]="this.dataPage.athrzDvsnValUnitCd">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectUnit" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-row">
                    <mat-form-field class="w-full sm:w-3/5"  appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금수</mat-label>
                        <input type="number" [(ngModel)]="this.dataPage.athrzDivisionCo" class="text-black" matInput>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end pb-2 md:pb-0">
                    <button (click)="clear()" class="h-10 w-20 ml-2 -mt-3 sm:-mt-0 mb-1" nz-button nzType="defaulty" [nzSize]="'small'">깨끗한</button>
                    <button (click)="detailSave()" class="h-10 w-20 ml-2 -mt-3 sm:-mt-0 mb-1" nz-button nzType="defaulty" [nzSize]="'small'">저장</button>
                </div>
            </div>

            <div class="flex flex-col flex-nowrap mt-6 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>
                    추가된 목록
                </p>
                <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                    <nz-table class=" w-full" nzFrontPagination="false"
                        [nzScroll]="{ x: '550px' }" nzSize="small"
                         #basicTable [nzData]="dataDialScale">
                    <thead>
                        <tr>
                            <th class="bg-gray-100 text-center" rowspan="2">No</th>
                            <th class="bg-gray-100 text-center">형식명</th>
                            <th class="bg-gray-100 text-center">정확도등급</th>
                            <th class="bg-gray-100 text-center">최대용량</th>
                            <th class="bg-gray-100 text-center">최소용량</th>
                            <th class="bg-gray-100 text-center" rowspan="2"></th>
                        </tr>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금</th>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금수</th>
                            <th class="bg-gray-100 text-center border-r-0" scope="col" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                      <ng-container *ngFor="let data of basicTable.data;let i=index">
                        <tr>
                            <td rowspan="2">{{i+1}}</td>
                            <td>{{data.fomNm}}</td>
                            <td>{{data.accrcyGradCodeName}}</td>
                            <td>{{data.mxmmCpctyVal}}{{data.mxCpctyValUnitCodeName}}</td>
                            <td>{{data.mummCpctyVal}}{{data.mummCpctyValUnitCdName}}</td>
                            <td rowspan="2">
                                <button (click)="editDetail(data)"  nz-button nzType="primary">수정</button> <br/>
                                <button (click)="delDetail(data)"  class="mt-2" nz-button nzType="primary">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{data.athrzDivisionVal}}{{data.athrzDvsnValUnitCdName}}</td>
                            <td>{{data.athrzDivisionCo}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </nz-table>
                </div>
                <div class="grid mt-6 w-full">
                    <div class="place-self-end">
                        <button (click)="saveConfirm()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">저장</button>
                        <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
