<div class="container w-full">
    <nz-spin [nzSpinning]="isSpinning" nzTip="로딩...">
        <ul class="flex justify-between border-b-2 text-xs sm:text-md">
            <li class="-mb-px mr-1">
                <a
                    class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t pt-3 pb-2 px-4 text-blue-700 font-semibold">검정정보</a>
            </li>
            <li>
                <nz-breadcrumb [nzSeparator]="null" class="inline-block pt-3 pb-2 px-4 font-semibold">
                    <nz-breadcrumb-item class="text-gray-400">검정관리</nz-breadcrumb-item>
                    <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                    <nz-breadcrumb-item class="text-blue-700">검정정보​</nz-breadcrumb-item>
                </nz-breadcrumb>
            </li>
        </ul>

        <div class="flex flex-col flex-nowrap flex-auto bg-white  dark:bg-gray-800 min-h-full w-full">
            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full mt-6">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>검정결과 정보
                </p>
                <comview-athrz-detail-view [dataPage]="dataMain" class="pt-2"></comview-athrz-detail-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>업체정보
                </p>
                <comview-entrps-info-view [dataPage]="dataMain" class="pt-2"></comview-entrps-info-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full mt-4">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>구비서류
                </p>
                <comview-athrz-doc-view [dataPage]="dataMain" class="pt-2"></comview-athrz-doc-view>
            </div>

            <div class="w-full mb-4 pr-6">
                <div class="flex justify-end mt-4 mb-5">
                    <button routerLink="/KTC/test/InspectionInfo/InfoList/edit/{{dataMain?.inspection?.athrzSn}}"
                        mat-raised-button color="primary" class="mr-4">수정</button>
                    <button routerLink="/KTC/test/InspectionInfo/InfoList" mat-raised-button color="primary">목록</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
