<div class="container w-full">
    <ul class="flex justify-between border-b text-xs sm:text-md">
        <li class="-mb-px mr-1">
            <a
                class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t pt-3 pb-2 px-4 text-blue-700 font-semibold">전체현황</a>
        </li>
        <li>
            <nz-breadcrumb [nzSeparator]="null" class="inline-block pt-3 pb-2 px-4 font-semibold">
                <nz-breadcrumb-item class="text-gray-400">검정관리</nz-breadcrumb-item>
                <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                <nz-breadcrumb-item class="text-gray-400">접수처리</nz-breadcrumb-item>
                <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                <nz-breadcrumb-item class="text-blue-700">전체현황</nz-breadcrumb-item>
            </nz-breadcrumb>
        </li>
    </ul>

    <div class="flex flex-col flex-auto bg-white  dark:bg-gray-800 min-h-full">
        <div class="dark:bg-gray-900 border border-solid">
            <div class="flex flex-col sm:flex-row px-4">
                <div class="w-full sm:w-1/2 sm:mr-5 md:mr-0">
                    <div class="w-full md:w-2/3 m-auto pb-0 pt-4">
                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">계량기 종류</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-select [(ngModel)]="searchRq.mrnrSeCode" class="w-full">
                                    <nz-option nzValue='' nzLabel=""></nz-option>
                                    <nz-option *ngFor="let item of selectItem?.mrnrSeCodeList" [nzValue]="item?.bsisCode"
                                        [nzLabel]="item?.bsisCodeNm"></nz-option>
                                </nz-select>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">검정신청지사</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-select [(ngModel)]="searchRq.ktcBrffcCode" class="w-full">
                                    <nz-option nzValue='' nzLabel=""></nz-option>
                                    <nz-option *ngFor="let item of selectItem?.ktcBrffcCodeList"
                                        [nzValue]="item?.bsisCode" [nzLabel]="item?.bsisCodeNm"></nz-option>
                                </nz-select>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">접수번호</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <input [(ngModel)]="searchRq.athrzRceptNo" nz-input />
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">신청일</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-range-picker [(ngModel)]="rqstDate" class="w-full"></nz-range-picker>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">접수번호</h1>
                            <div class="p-2 flex flex-1 sm:flex-grow">
                                <input class="h-8" [(ngModel)]="searchRq.rceptNo_Start" nz-input />
                                <p class="px-2 flex self-center">-</p>
                                <input class="h-8" [(ngModel)]="searchRq.rceptNo_End" nz-input />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full sm:w-1/2 sm:ml-5 md:ml-0">
                    <div class="w-full md:w-2/3 m-auto pb-0 sm:pt-4 pt-0">
                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">구분</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-select [(ngModel)]="searchRq.athrzSeCode" class="w-full">
                                    <nz-option nzValue='' nzLabel=""></nz-option>
                                    <nz-option *ngFor="let item of selectItem?.athrzSeCodeList"
                                        [nzValue]="item?.bsisCode" [nzLabel]="item?.bsisCodeNm"></nz-option>
                                </nz-select>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row">
                            <h1 class="p-2 w-28 self-center flex-none">처리상태</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-select [(ngModel)]="searchRq.athrzProcessSttusCode" class="w-full">
                                    <nz-option nzValue='' nzLabel=""></nz-option>
                                    <nz-option *ngFor="let item of selectItem?.processSttusList"
                                        [nzValue]="item?.bsisCode" [nzLabel]="item?.bsisCodeNm"></nz-option>
                                </nz-select>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row ">
                            <h1 class="p-2 w-28 self-center flex-none">상호명</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <input nz-input [(ngModel)]="searchRq.entrpsNm" />
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row  ">
                            <h1 class="p-2 w-28 self-center flex-none">검정유효기간</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-range-picker [(ngModel)]="expDeDate" class="w-full"></nz-range-picker>
                            </div>
                        </div>

                        <div class="flex flex-wrap flex-row  ">
                            <h1 class="p-2 w-28 self-center flex-none">접수일</h1>
                            <div class="p-2 flex-1 sm:flex-grow">
                                <nz-range-picker [(ngModel)]="receptDeDate" class="w-full"></nz-range-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full text-right">
                <button class="mb-4 mt-2 sm:mt-0 md:mt-2 mr-6 md:mr-14" (click)="search()" nz-button nzType="primary"><i
                        nz-icon nzType="search"></i>검색</button>
            </div>
        </div>

        <div class="flex flex-col max-w-full mt-6 p-4 flex-nowrap border border-solid overflow-x-auto">
            <nz-table class="w-full" nzFrontPagination="false" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable
                [nzData]="tableData" [nzLoading]="loadingTable">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center w-20">No.</th>
                        <th class="bg-gray-100 text-center">구분</th>
                        <th class="bg-gray-100 text-center">접수번호</th>
                        <th class="bg-gray-100 text-center">상호명</th>
                        <th class="bg-gray-100 text-center">계량기 종류</th>
                        <th class="bg-gray-100 text-center">신청수량</th>
                        <th class="bg-gray-100 text-center">담당자</th>
                        <th class="bg-gray-100 text-center">신청일</th>
                        <th class="bg-gray-100 text-center">처리상태</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.rowNumber}}</td>
                        <td>{{data.athrzSeCodeName}}</td>
                        <td>
                            <a class="cursor-pointer" routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                *ngIf="data.athrzRceptNo === '???'">미접수</a>
                            <a class="cursor-pointer" routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                *ngIf="data.athrzRceptNo !== '???'">{{data.athrzRceptNo}}</a>
                        </td>
                        <td>{{data.entrpsNm}}</td>
                        <td>
                            <div *ngIf="data.mrnrSeCnt > 0 ">{{data.mrnrSeNm}} 외 {{data.mrnrSeCnt}} 건</div>
                            <div *ngIf="data.mrnrSeCnt === 0 ">{{data.mrnrSeNm}}</div>
                        </td>
                        <td>{{data.reqstQy}}</td>
                        <td>{{data.applcntNm}}</td>
                        <td>{{data.rqstDt | date: "yyyy-MM-dd"}}</td>
                        <td>
                            <div *ngIf="data.athrzProcessSttusCode === 'AD001004'; else elseBlock">
                                <div *ngIf="data.athrzIngSttusCode === 'AD002007'; else elseBlock2">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-green-600 bg-green-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>

                                <ng-template #elseBlock2>
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-red-600 bg-red-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </ng-template>
                            </div>
                            <ng-template #elseBlock>
                                <div *ngIf="data.statusClassName === 'btn_blue'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-blue-600 bg-blue-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_purple'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-purple-600 bg-purple-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_yellow'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-yellow-600 bg-yellow-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_green'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-green-600 bg-green-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_red'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-red-600 bg-red-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_abstract'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-pink-600 bg-pink-200 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_sodomy'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-indigo-600 bg-indigo-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === 'btn_gray'">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded text-gray-600 bg-gray-300 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                                <div *ngIf="data.statusClassName === ''">
                                    <span routerLink="../status/detail/{{data.athrzSn}}/subViewStatus"
                                        class=" cursor-pointer w-full font-semibold inline-block py-1 px-2  rounded border bg-gray-100 uppercase last:mr-0 mr-1">
                                        {{data.athrzProcessSttusName}}</span>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div class="pb-6 w-full grid m-0">
                <nz-pagination class="place-self-center sm:mr-14" [(nzPageIndex)]="indexPage" [nzResponsive]="true"
                    [nzTotal]="totalPage" [nzPageSize]="10" (nzPageIndexChange)="pageChange()"></nz-pagination>
            </div>
        </div>
    </div>
</div>
