<div class="w-full mt-2 border border-solid border-blue-300 overflow-x-auto">
    <nz-table class="w-full" nzFrontPagination="false" [nzScroll]="reponsiveTable()" nzSize="small" #basicTable
        [nzData]="dataPage?.formConsentHistoryList">
        <thead>
            <tr>
                <th class="bg-gray-100 text-center w-1/12">No.</th>
                <th class="bg-gray-100 text-center w-2/12">구분</th>
                <th class="bg-gray-100 text-center w-2/12">형식승인번호</th>
                <th class="bg-gray-100 text-center w-5/12">변경사항</th>
                <th class="bg-gray-100 text-center w-2/12">변경일</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let data of basicTable.data; let i=index">
                <td>{{i+1}}</td>
                <td>{{data.registSeName}}</td>
                <td>
                    <a class="cursor-pointer"
                    (click)="goToItems(data.fomConfmSn)">{{data.fomConfmConfmNo}}</a>
                </td>
                <td class="text-left">{{data.changeProcessDtls}}</td>
                <td>{{data.lastConfmDe}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
