<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <div class="flex mt-2 flex-col w-full p-2 sm:p-6 border border-solid border-blue-300">
                <div *ngIf="modeType ==='update'" class="flex w-full justify-center flex-row">
                    <mat-form-field class="w-full sm:w-3/5" appearance="outline">
                        <mat-label>No.</mat-label>
                        <input class="text-black" [(ngModel)]="dataMain.no" disabled matInput>
                    </mat-form-field>
                </div>

                <div class="flex w-full justify-center flex-row">
                    <mat-form-field class="w-full sm:w-3/5" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정지사</mat-label>
                        <mat-select [(ngModel)]="dataMain.ktcBrffcCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectList?.ktcBrffcCodeList" [value]="item?.bsisCode">
                                {{item?.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex w-full justify-center flex-row">
                    <mat-form-field class="w-full sm:w-3/5" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>담당자명</mat-label>
                        <mat-select [(ngModel)]="dataMain.athrzChargerID">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of selectList?.athrzChargerList" [value]="item?.userId">
                                [{{item?.deptNm}}]{{item?.userNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex w-full justify-center flex-row">
                    <mat-form-field class="w-full sm:w-3/5" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>인증PC정보(Mac address)</mat-label>
                        <input [(ngModel)]="dataMain.qrPrintpcMac" class="text-black" matInput>
                    </mat-form-field>
                </div>

                <div class="flex w-full justify-center flex-row">
                    <mat-form-field class="w-full sm:w-3/5" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>승인일자</mat-label>
                        <input matInput [(ngModel)]="dataMain.approveDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="flex w-full justify-center flex-row">
                    <div
                        class="flex flex-row p-2 mt-0.5 sm:p-4 w-full sm:w-3/5 rounded-md h-full sm:h-14 border border-solid border-gray-300 ">
                        <label class="self-center">승인여부</label>
                        <mat-radio-group [(ngModel)]="dataMain.approveValue" class="pl-4 sm:pl-8">
                            <mat-radio-button class="ml-4" value="Y">승인</mat-radio-button>
                            <mat-radio-button class="ml-8" value="N">미승인</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="checkMode()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                        [nzSize]="'small'">저장</button>
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                        [nzSize]="'small'">목록</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
