<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                - 신청서에 표시될 기물내용을 작성해주시기 바랍니다. 저장을 하지 않으면 신청서에 표시되지 않습니다.
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <mat-form-field class="w-full"  appearance="outline">
                    <mat-label>신청서기물내용</mat-label>
                    <input [(ngModel)]="reqstdocVesslNo" class="text-black" matInput>
                </mat-form-field>
                <div class="grid w-full">
                    <div class="place-self-end">
                        <button (click)="btnInfoSave()" class="h-10 mb-1" nz-button nzType="default" [nzSize]="'small'">기물내용저장</button>
                    </div>
                </div>

                <div class="p-2 mt-2 border border-solid border-purple-400">
                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="w-full sm:w-4/6"  appearance="outline">
                            <mat-label>기물번호 개별입력 </mat-label>
                            <input [(ngModel)]="enterindividual" class="text-black" matInput>
                        </mat-form-field>
                        <div class="flex p-1 sm:p-2 justify-end ">
                            <button (click)="btnEnterindividual()" class="h-10 w-20 ml-2 -mt-3 sm:-mt-0 mb-1" nz-button nzType="defaulty" [nzSize]="'small'">추가</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                - 잘못 등록된 기물번호는 삭제하시고 기물번호 개별입력을 통해 추가해주시기 바랍니다. <br>
                - 1000건 이상의 엑셀데이터 등록시 시간이 걸릴 수 있습니다.
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <mat-form-field class="w-full"  appearance="outline">
                    <mat-label>기물번호 검색 </mat-label>
                    <input [(ngModel)]="searchText" class="text-black" matInput>
                </mat-form-field>
                <div class="grid w-full">
                    <div class="place-self-end">
                        <button (click)="acReset()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">초기화</button>
                        <button (click)="acSearch()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">검색</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                * 총 0건이 등록되었습니다.
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <nz-table class=" w-full" nzFrontPagination="true"
                    [nzScroll]="{ x: '550px' }" nzSize="small"
                     #basicTable [nzData]="dataHist">
                <thead>
                  <tr>
                    <th class="bg-gray-100 text-center">No</th>
                    <th class="bg-gray-100 text-center">기물번호</th>
                    <th class="bg-gray-100 text-center">삭제</th>
                </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let data of basicTable.data">
                      <td>{{data.rowNum}}</td>
                      <td>{{data.vesslNo}}</td>
                      <td><button (click)="delIptVessl(data.vesslNo)" nz-button nzType="primary">삭제</button></td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="saveDt()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">확인</button>
                    <button (click)="excelDown()" class="h-10 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">엑셀다운로드</button>
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
