<div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
    <div class="p-4 sm:w-1/2 flex flex-col pb-0 sm:pb-4">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>발급 부수</mat-label>
            <input class="text-black" [value]="dataPage?.inspectionCnfrmnIssu?.issuReqstNbfps"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>기물번호 표기 구분</mat-label>
            <input class="text-black" [value]="dataPage?.inspectionCnfrmnIssu?.outptIndictSeCodeName" disabled matInput>
        </mat-form-field>
    </div>
    <div class="p-4 sm:w-1/2 flex flex-col pt-0 sm:pt-4">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>발급수수료</mat-label>
            <input class="text-black" [value]="dataPage?.inspectionCnfrmnIssu?.issuFeeAmount"  disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>발급용도</mat-label>
            <input class="text-black" [value]="dataPage?.inspectionCnfrmnIssu?.issuPrposCn"  disabled matInput>
        </mat-form-field>
    </div>
</div>

<div class="flex flex-col flex-nowrap mt-4 w-full">
    <p class="text-gray-600">
        <mat-icon class="icon-size-4 text-gray-600" svgIcon="heroicons_outline:star">
        </mat-icon>검정확인서 기재 대상
    </p>
    <div class="w-full mt-2 border border-solid border-blue-300 overflow-x-auto">
        <nz-table class=" w-full" nzFrontPagination="false"
        [nzScroll]="reponsiveTable()" nzSize="small"
        #basicTable [nzData]="dataPage?.inspectionDetailTList">
            <thead>
              <tr>
                <th class="bg-gray-100 w-18 text-center"><label nz-checkbox nzDisabled ngModel="true"></label></th>
                <th class="bg-gray-100 text-center">계량기명</th>
                <th class="bg-gray-100 text-center">형식승인번호</th>
                <th class="bg-gray-100 text-center">규격</th>
                <th class="bg-gray-100 text-center">검정구분</th>
                <th class="bg-gray-100 text-center">수량</th>
                <th class="bg-gray-100 text-center">기물번호</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let data of basicTable.data">
                  <td><label nz-checkbox nzDisabled [ngModel]="checkIss(data.issuYn)"></label></td>
                  <td>{{data.mrnrSeNm}}</td>
                  <td>{{data.fomConfmConfmNo}}</td>
                  <td>{{data.stndrdNm}}</td>
                  <td>{{data.athrzSeCodeName}}</td>
                  <td>{{data.reqstQy}}</td>
                  <td>{{data.vesslNoStr}}</td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>
