<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap  w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                규격및형식(오일미터)
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-col">
                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>형식</mat-label>
                        <mat-select [(ngModel)]="dataOil.iptOilmeterT.fomCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataOil.fomCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>구조</mat-label>
                        <mat-select [(ngModel)]="dataOil.iptOilmeterT.strctCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataOil.strctCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>모델명</mat-label>
                        <input [(ngModel)]="dataOil.iptOilmeterT.modelNm"  class="text-black" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>호칭지름</mat-label>
                        <input type="number" [(ngModel)]="dataOil.iptOilmeterT.cirDmVal" class="text-black" matInput>
                        <span matSuffix>mm</span>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>환경조건</mat-label>
                        <mat-select [(ngModel)]="dataOil.iptOilmeterT.envrnCndCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataOil.envrnCndCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="saveDetail()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">저장</button>
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
