<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                기본정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row w-full">
                    <div class="w-1/2 pr-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>범위</mat-label>
                            <input [value]="dataProtableWhealLoad?.fmsPtbWhLoadScT?.scopeCodeName || ''"
                                class="text-black" matInput disabled>
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 pl-1">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label><span class="text-red-400">* </span>형식</mat-label>
                            <input [value]="dataProtableWhealLoad?.fmsPtbWhLoadScT?.fomNm || ''" class="text-black"
                                matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                싱글
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정확도등급</mat-label>
                        <input
                            [value]="dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.accrcyGradCodeName || ''"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>온도범위</mat-label>
                        <input
                            [value]="'(' + (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.tpScopeText || '') + ') ℃'"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소용량</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.mummCpctyVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.mummCpctyValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대용량</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.mxmmCpctyVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.mummCpctyValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.athrzDivisionVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.athrzDvsnValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금 수</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.athrzDivisionCo || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>실제눈금</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.realDivisionVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[0]?.realDvsnValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                듀얼
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정확도등급</mat-label>
                        <input
                            [value]="dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.accrcyGradCodeName || ''"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>온도범위</mat-label>
                        <input
                            [value]="'(' + (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.tpScopeText || '') + ') ℃'"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소용량</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.mummCpctyVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.mummCpctyValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대용량</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.mxmmCpctyVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.mummCpctyValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.athrzDvsnValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>검정눈금 수</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionVal?.athrzDivisionCo || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>실제눈금</mat-label>
                        <input
                            [value]="(dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionVal?.realDivisionVal || '') + ' ' +
                            (dataProtableWhealLoad?.fmsPtbWhLoadScT?.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionVal?.realDvsnValUnitCdName || '')"
                            class="text-black" matInput disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-nowrap mt-6 w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                추가된 목록
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <nz-table class="w-full" nzFrontPagination="false" [nzScroll]="{ x: '550px' }" nzSize="small"
                    #basicTable [nzData]="dataProtableWhealLoad.fmsPtbWhLoadScListT">
                    <thead>
                        <tr>
                            <th class="bg-gray-100 text-center w-1/12" scope="col" rowspan="3">No.</th>
                            <th class="bg-gray-100 text-center" scope="col">범위</th>
                            <th class="bg-gray-100 text-center" scope="col">형식</th>
                            <th class="bg-gray-100 text-center" scope="col"></th>
                            <th class="bg-gray-100 text-center" scope="col"></th>
                        </tr>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col">정확도등급</th>
                            <th class="bg-gray-100 text-center" scope="col">온도범위</th>
                            <th class="bg-gray-100 text-center" scope="col">최소용량</th>
                            <th class="bg-gray-100 text-center" scope="col">최대용량</th>
                        </tr>
                        <tr>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금</th>
                            <th class="bg-gray-100 text-center" scope="col">검정눈금수</th>
                            <th class="bg-gray-100 text-center" scope="col">실제눈금</th>
                            <th class="bg-gray-100 text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <ng-container *ngFor="let data of basicTable.data; let i=index">
                            <tr>
                                <td rowspan="3" class="w-1/12"><a (click)="goView(data?.ptbWhLoadScSn)">{{i+1}}</a></td>
                                <td>{{data?.scopeCodeName}}</td>
                                <td>{{data?.fomNm}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    [{{data.fmsPtbWhLoadScDetailListT[0]?.accrcyGradCodeName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[1]?.accrcyGradCodeName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[2]?.accrcyGradCodeName}}]
                                </td>
                                <td>
                                    [({{data.fmsPtbWhLoadScDetailListT[0]?.tpScopeText}}) ℃]
                                    [({{data.fmsPtbWhLoadScDetailListT[1]?.tpScopeText}}) ℃]
                                    [({{data.fmsPtbWhLoadScDetailListT[2]?.tpScopeText}}) ℃]
                                </td>
                                <td>
                                    [{{data?.fmsPtbWhLoadScDetailListT[0]?.mummCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[0]?.mummCpctyValUnitCdName}}]
                                    [{{data?.fmsPtbWhLoadScDetailListT[1]?.mummCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[1]?.mummCpctyValUnitCdName}}]
                                    [{{data?.fmsPtbWhLoadScDetailListT[2]?.mummCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[2]?.mummCpctyValUnitCdName}}]
                                </td>
                                <td>
                                    [{{data?.fmsPtbWhLoadScDetailListT[0]?.mxmmCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[0]?.mxCpctyValUnitCodeName}}]
                                    [{{data?.fmsPtbWhLoadScDetailListT[1]?.mxmmCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[1]?.mxCpctyValUnitCodeName}}]
                                    [{{data?.fmsPtbWhLoadScDetailListT[2]?.mxmmCpctyVal}}
                                    {{data?.fmsPtbWhLoadScDetailListT[2]?.mxCpctyValUnitCodeName}}]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    [{{data.fmsPtbWhLoadScDetailListT[0]?.athrzDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[0]?.athrzDvsnValUnitCdName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[1]?.athrzDvsnValUnitCdName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[2]?.athrzDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[2]?.athrzDvsnValUnitCdName}}]
                                </td>
                                <td>
                                    [{{data.fmsPtbWhLoadScDetailListT[0]?.athrzDivisionCo}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[1]?.athrzDivisionCo}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[2]?.athrzDivisionCo}}]
                                </td>
                                <td>
                                    [{{data.fmsPtbWhLoadScDetailListT[0]?.realDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[0]?.realDvsnValUnitCdName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[1]?.realDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[1]?.realDvsnValUnitCdName}}]
                                    [{{data.fmsPtbWhLoadScDetailListT[2]?.realDivisionVal}}
                                    {{data.fmsPtbWhLoadScDetailListT[2]?.realDvsnValUnitCdName}}]
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>

            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                        [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
