<div class="flex flex-col flex-wrap w-full p-4 border border-solid mt-2 border-blue-300">
    <div *ngIf="dataPage?.inspectionAtchmnflList?.length === 0;else FileView">
       <div class="flex flex-row w-full border my-2 border-solid border-purple-300">
        <p class=" p-4 bg-blue-100">
            구비서류
        </p>
        <b class="p-4">미등록</b>
       </div>
    </div>
    <ng-template #FileView>
        <div class="flex flex-col sm:flex-row flex-wrap w-full border border-solid border-blue-300 mt-2">
            <div class="flex items-center bg-blue-100">
                <p class="p-4 w-full sm:w-30">검정기록지</p>
            </div>
            <div class="p-2 flex flex-col">
                <div *ngFor="let item of dataPage?.inspectionAtchmnflList" class="grid grid-cols-3 my-1 gap-4">
                    <a class="col-span-2">{{item?.atchmnflNm}}</a>
                    <button (click)="downLink(item)"
                            nz-button nzType="primary">다운로드
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
