<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap  w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                규격및형식(수도미터)
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-col">
                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>유량부 형식</mat-label>
                        <mat-select [(ngModel)]="dataWater.iptWaterMeterT.fluxFomCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWater.fomCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>내갑 형식</mat-label>
                        <mat-select [(ngModel)]="dataWater.iptWaterMeterT.innerFomCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWater.innerFomCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>구조</mat-label>
                        <mat-select [(ngModel)]="dataWater.iptWaterMeterT.waterMeterstrctCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWater.strctCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정밀도 등급</mat-label>
                        <mat-select [(ngModel)]="dataWater.iptWaterMeterT.prcsdgLevelCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWater.prcsdgLevelCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>호칭지름</mat-label>
                        <input type="number" [(ngModel)]="dataWater.iptWaterMeterT.nmNmValue" class="text-black" matInput>
                        <span matSuffix>mm</span>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>환경조건</mat-label>
                        <mat-select [(ngModel)]="dataWater.iptWaterMeterT.envrnCndCode">
                            <mat-option [value]=""> =선택= </mat-option>
                            <mat-option *ngFor="let item of dataWater.envrnCndCodeList" [value]="item.bsisCode">{{item.bsisCodeNm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대유량</mat-label>
                        <input type="number" [(ngModel)]="dataWater.iptWaterMeterT.mxmmFluxVal" class="text-black" matInput>
                        <span matSuffix>m<sup>3</sup>/h</span>
                    </mat-form-field>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>전이유량비</mat-label>
                        <input type="number" [(ngModel)]="dataWater.iptWaterMeterT.tranFluxRateVal" class="text-black" matInput>
                    </mat-form-field>

                    <div class="flex flex-row w-full">
                        <mat-form-field *ngIf="cbMxmmFluxRateVal === -1" class="w-3/5 pr-1 sm:pr-2"  appearance="outline">
                            <mat-label><span class="text-red-400">* </span>최대유량비</mat-label>
                            <input type="number" [(ngModel)]="dataWater.iptWaterMeterT.mxmmFluxRateVal" class="text-black" matInput>
                        </mat-form-field>

                        <mat-form-field class="w-2/5"  appearance="outline">
                            <mat-select [(ngModel)]="cbMxmmFluxRateVal">
                                <mat-option [value]= -1 > =선택= </mat-option>
                                <mat-option [value]= 0 >직접입력</mat-option>
                                <mat-option [value]=10>10</mat-option>
                                <mat-option [value]=12.5>12.5</mat-option>
                                <mat-option [value]=16>16</mat-option>
                                <mat-option [value]=20>20</mat-option>
                                <mat-option [value]=25>25</mat-option>
                                <mat-option [value]=31.5>31.5</mat-option>
                                <mat-option [value]=40>40</mat-option>
                                <mat-option [value]=50>50</mat-option>
                                <mat-option [value]=63>63</mat-option>
                                <mat-option [value]=80>80</mat-option>
                                <mat-option [value]=100>100</mat-option>
                                <mat-option [value]=125>125</mat-option>
                                <mat-option [value]=160>160</mat-option>
                                <mat-option [value]=200>200</mat-option>
                                <mat-option [value]=250>250</mat-option>
                                <mat-option [value]=315>315</mat-option>
                                <mat-option [value]=400>400</mat-option>
                                <mat-option [value]=500>500</mat-option>
                                <mat-option [value]=630>630</mat-option>
                                <mat-option [value]=800>800</mat-option>
                                <mat-option [value]=1000>1000</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-label class=" w-30"><span class="text-red-400">* </span>역류방지장치</mat-label>
                        <mat-radio-group [(ngModel)]="dataWater.iptWaterMeterT.statnHstdPrvnStrgAt" class="ml-2">
                            <mat-radio-button class="ml-2" value="Y">유</mat-radio-button>
                            <mat-radio-button class="ml-2" value="N">무</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="flex mt-2 mb-3">
                        <mat-label class= "w-30"><span class="text-red-400">* </span>원격통신</mat-label>
                        <mat-radio-group [(ngModel)]="dataWater.iptWaterMeterT.tlcommAt" class="ml-2">
                            <mat-radio-button class="ml-2" value="Y">유</mat-radio-button>
                            <mat-radio-button class="ml-2" value="N">무</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-form-field class="w-full sm:w-3/4" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대유량</mat-label>
                        <input type="number" class="text-black" matInput>
                        <span matSuffix>V</span>
                    </mat-form-field>

                </div>
            </div>
            <div class="grid mt-6 w-full">
                <div class="place-self-end">
                    <button (click)="saveDetail()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">저장</button>
                    <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary" [nzSize]="'small'">닫기</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
