<div class="container w-full">
    <nz-spin [nzSpinning]="isSpinning" nzTip="로딩...">
        <ul class="flex justify-between border-b text-xs sm:text-md">
            <li class="-mb-px mr-1">
                <a class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t pb-2 pt-3 px-4 text-blue-700 font-semibold">QR코드
                    이력조회</a>
            </li>
            <li>
                <nz-breadcrumb [nzSeparator]="null" class="inline-block pb-2 pt-3 px-4 font-semibold">
                    <nz-breadcrumb-item class="text-gray-400">QR코드 관리</nz-breadcrumb-item>
                    <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                    <nz-breadcrumb-item class="text-blue-700">QR코드 이력조회</nz-breadcrumb-item>
                </nz-breadcrumb>
            </li>
        </ul>

        <div class="flex flex-col flex-nowrap flex-auto bg-white  dark:bg-gray-800 min-h-full w-full border border-solid">
            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full mt-2">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>검정결과 정보
                </p>
                <qrcode-athrz-detail-view [dataPage]="dataMain" class="pt-2"></qrcode-athrz-detail-view>
            </div>

            <div class="flex flex-col flex-nowrap p-2 md:p-4 w-full">
                <p class="text-blue-600">
                    <mat-icon class="icon-size-4 text-blue-600 mr-1" svgIcon="heroicons_outline:arrow-circle-right">
                    </mat-icon>접수/담당정보
                </p>
                <qrcode-proc-state [dataPage]="dataMain" class="pt-2"></qrcode-proc-state>
            </div>

            <div class="grid w-full mb-4">
                <div class="place-self-end mr-4 sm:mr-14">
                    <button routerLink="/KTC/QrManager/QrComplete/status" mat-raised-button color="primary">목록</button>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
