<div class="container w-full">
    <ul class="flex justify-between border-b text-xs sm:text-md">
        <li class="-mb-px mr-1">
            <a class="bg-white dark:bg-gray-900 inline-block border-l border-t border-r rounded-t
            pb-2 pt-3 px-4 text-blue-700 font-semibold">그룹별사용자조회</a>
        </li>
        <li>
            <nz-breadcrumb [nzSeparator]="null" class="inline-block pb-2 pt-3 px-4 font-semibold">
                <nz-breadcrumb-item class="text-gray-400">시스템 관리</nz-breadcrumb-item>
                <nz-breadcrumb-separator class="mx-2 text-gray-400">></nz-breadcrumb-separator>
                <nz-breadcrumb-item class="text-blue-700">그룹별사용자조회</nz-breadcrumb-item>
            </nz-breadcrumb>
        </li>
    </ul>

    <div class="flex flex-col sm:flex-row py-8 px-7 bg-white h-full w-full border border-solid">
        <nz-select (ngModelChange)="changeValue($event)" [nzPlaceHolder]="'-- 선택해주세요 --'" [(ngModel)]="valueGroupCode"
            class="sm:hidden w-full mb-3">
            <nz-option *ngFor="let group of listGroup" [nzLabel]="group?.authGroupName" [nzValue]="group?.groupCode">
            </nz-option>
        </nz-select>

        <div class="sm:flex-none h-108 w-full sm:mr-8 sm:w-auto lg:mx-5 lg:ml-10 hidden sm:block">
            <div>
                <p class="bg-blue-50 m-auto border border-b-0 p-1 w-30" style="text-align: center;">그룹</p>
            </div>
            <nz-list nzBordered nzSize="small" class="bg-white p-4 border h-100 overflow-auto">
                <nz-list-item *ngFor="let group of listGroup">
                    <button (click)="findAllUserByGroup($event)" value="{{ group?.groupCode }}"
                        class="hover:text-blue-500 hover:font-medium">
                        {{ group?.authGroupName }}</button>
                </nz-list-item>
            </nz-list>
        </div>

        <div class="sm:flex-grow mt-4 sm:mt-0 mb-8 lg:mx-5 lg:mr-10 sm:h-100 w-full sm:w-50 md:w-100 lg:w-150 xl:w-200">
            <div>
                <p class="bg-blue-50 m-auto border border-b-0 p-1 w-30" style="text-align: center;">사용자</p>
            </div>
            <div>
                <nz-list class="bg-white p-4 border h-100 overflow-auto" nzItemLayout="horizontal"
                    [nzLoading]="loading">
                    <nz-list-item *ngFor="let string of listUserInGroup">
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span>{{ string }}</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </nz-list-item>
                    <nz-list-empty *ngIf="listUserInGroup.length === 0"></nz-list-empty>
                </nz-list>
            </div>
        </div>
    </div>
