<div class="container">
    <nz-spin nzTip="로딩..." [nzSpinning]="isSpin">
        <div class="flex flex-col flex-nowrap w-full">
            <p class="text-blue-600">
                <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
                </mat-icon>
                기본정보
            </p>
            <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>형식</mat-label>
                            <input [value]="dataElementsWater?.fmsElementsWaterT?.fomCodeName || ''" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>유량부의 형식</mat-label>
                        <input [value]="dataElementsWater?.fmsElementsWaterT?.fluxFomCodeName || ''" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대유량</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.mxmmFluxVal || '') + ' ' +
                            (dataElementsWater?.fmsElementsWaterT?.mxmmFluxValUnitCodeName || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소유량</mat-label>
                        <input [value]="(dataElementsWater?.fmsElementsWaterT?.mummFluxVal || '') + ' ' +
                        (dataElementsWater?.fmsElementsWaterT?.mummFluxValUnitCodeName || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소측정량</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.mummMesureQyVal || '') + ' L'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최대압력</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.mxmmPressrValue || '') + ' MPa'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>최소압력</mat-label>
                        <input [value]="(dataElementsWater?.fmsElementsWaterT?.mummPressrVal || '') + ' MPa'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>사용온도범위</mat-label>
                            <input [value]="'(' + (dataElementsWater?.fmsElementsWaterT?.useTpScope || '') + ') ℃'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>호스길이</mat-label>
                        <input [value]="(dataElementsWater?.fmsElementsWaterT?.hoseLtValue || '') + ' m'" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>사용연료유</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.useFloilKndCodeName || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-1/2 pr-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>환경조건</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.envrnCndCodeName || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pl-1" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>정밀도등급</mat-label>
                        <input [value]="(dataElementsWater?.fmsElementsWaterT?.prcsdgGradCodeName || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
                <div class="flex flex-row">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label><span class="text-red-400">* </span>모델명</mat-label>
                            <input [value]="(dataElementsWater?.fmsElementsWaterT?.elementsModlCn || '')" class="text-black" matInput
                            disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <p class="text-blue-600 mt-6">
            <mat-icon class="icon-size-4 text-blue-600" svgIcon="heroicons_outline:arrow-circle-right">
            </mat-icon>
            추가된 목록
        </p>
        <div class="flex mt-2 flex-col w-full p-2 border border-solid border-blue-300">
            <nz-table class=" w-full" nzFrontPagination="false" [nzScroll]="{ x: '550px' }" nzSize="small"
                #basicTable [nzData]="dataElementsWater.fmsElementsWaterTList">
                <thead>
                    <tr>
                        <th class="bg-gray-100 text-center w-1/12" scope="col" rowspan="4">No.</th>
                        <th class="bg-gray-100 text-center" scope="col">형식</th>
                        <th class="bg-gray-100 text-center" scope="col">최대유량</th>
                        <th class="bg-gray-100 text-center" scope="col">최소유량</th>
                        <th class="bg-gray-100 text-center" scope="col">최소측정량</th>
                    </tr>
                    <tr>
                        <th class="bg-gray-100 text-center" scope="col">최대압력</th>
                        <th class="bg-gray-100 text-center" scope="col">최소압력</th>
                        <th class="bg-gray-100 text-center" scope="col">사용온도범위</th>
                        <th class="bg-gray-100 text-center" scope="col">호스길이</th>
                    </tr>
                    <tr>
                        <th class="bg-gray-100 text-center" scope="col">유량부의 형식</th>
                        <th class="bg-gray-100 text-center" scope="col">사용연료유</th>
                        <th class="bg-gray-100 text-center" scope="col">환경조건</th>
                        <th class="bg-gray-100 text-center" scope="col">정밀도등급</th>
                    </tr>
                    <tr>
                        <th class="bg-gray-100 text-center" scope="col" colspan="4">모델명</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <ng-container *ngFor="let data of basicTable.data; let i=index">
                        <tr>
                            <td rowspan="4" class="w-1/12"><a (click)="goView(data.elementsSn)">{{i+1}}</a></td>
                            <td>{{data.fomCodeName}}</td>
                            <td>{{data.mxmmFluxVal}} {{data.mxmmFluxValUnitCodeName}}</td>
                            <td>{{data.mummFluxVal}} {{data.mummFluxValUnitCodeName}}</td>
                            <td>{{data.mummMesureQyVal}} L</td>
                        </tr>
                        <tr>
                            <td>{{data.mxmmPressrValue}} MPa</td>
                            <td>{{data.mummPressrVal}} MPa</td>
                            <td>{{data.useTpScope}} ℃</td>
                            <td>{{data.hoseLtValue}} m</td>
                        </tr>
                        <tr>
                            <td>{{data.fluxFomCodeName}}</td>
                            <td>{{data.useFloilKndCodeName}}</td>
                            <td>{{data.envrnCndCodeName}}</td>
                            <td>{{data.prcsdgGradCodeName}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                {{data.elementsModlCn}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>

        <div class="grid mt-6 w-full">
            <div class="place-self-end">
                <button (click)="close()" class="h-10 w-20 -mt-2 ml-2 mb-1" nz-button nzType="primary"
                    [nzSize]="'small'">닫기</button>
            </div>
        </div>
    </nz-spin>
</div>
