<div class="flex flex-nowrap flex-col sm:flex-row w-full p-2 border border-solid border-blue-300">
    <div class="p-4 sm:w-1/2 flex flex-col lg:pr-0 pb-0">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>형식승인번호</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmConfmNo" disabled matInput>
        </mat-form-field>

        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>형식승인기관</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.fomConfmInsttSeName" disabled
                matInput>
        </mat-form-field>

        <div class="flex flex-row mb-6 w-full md:w-3/4 border my-2 border-solid rounded border-gray-300">
            <p class="p-4 bg-blue-100 w-30">
                성적서
            </p>
            <a class="p-4 flex-grow" *ngIf="dataPage?.formConsentT?.formConsent?.atchmnflT_AC003030?.atchmnflNm"
                (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003030?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003030?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003030?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full md:w-3/4 border my-2 border-solid rounded border-gray-300">
            <p class="p-4 bg-blue-100 w-30">
                분석노트
            </p>
            <a class="p-4 flex-grow" *ngIf="dataPage?.formConsentT?.formConsent?.atchmnflT_AC003031?.atchmnflNm"
                (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003031?.atchmnflClCode,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003031?.atchmnflCours,
            dataPage?.formConsentT?.formConsent?.atchmnflT_AC003031?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003031?.atchmnflNm}}</a>
        </div>

        <div class="flex flex-row mb-6 w-full md:w-3/4 border my-2 border-solid rounded border-gray-300">
            <div class="bg-blue-100 flex">
                <p class="p-4 m-auto w-30">
                    기타서류
                </p>
            </div>
            <div class="flex flex-col mb-10 sm:mb-4">
                <a class="p-4 flex-grow h-2.5"
                    *ngFor="let item of dataPage?.formConsentT?.formConsent?.atchmnflT_AC003032"
                    (click)="fileDown(item?.atchmnflClCode, item?.atchmnflCours, item?.atchmnflNm)">
                    {{item?.atchmnflNm}}</a>
            </div>
        </div>
    </div>
    <div class="p-4 sm:w-1/2 pt-0 sm:pt-4 flex flex-col lg:pl-0 pl-4">
        <mat-form-field class="w-full md:w-3/4" appearance="outline">
            <mat-label>형식승인일</mat-label>
            <input class="text-black" [value]="dataPage?.formConsentT?.formConsent?.lastConfmDe" disabled matInput>
        </mat-form-field>
        <div class="flex flex-row mb-6 w-full md:w-3/4 border my-2 border-solid rounded border-gray-300">
            <p class="p-4 bg-blue-100 w-30">
                형식승인서
            </p>
            <a class="p-4 flex-grow" *ngIf="dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflNm"
                (click)="fileDown(dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflClCode,
    dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflCours,
    dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflNm)">
                {{dataPage?.formConsentT?.formConsent?.atchmnflT_AC003002?.atchmnflNm}}</a>
        </div>
    </div>
</div>
